.header {
  color: var(--clr-blue-400);
  padding: 10px 0 20px 0;
}

.container {
  padding: 180px 50px 0px 50px;
}

.buttoncontainer {
  position: fixed;
  top: 20px;
  right: 20px;
}

.searchcontainer {
  max-width: 800px;
}

/* Wide */
@media (min-width: 992px) {
  .header {
    font-size: var(--font-sub-heading-size);
    font-size: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 992px) {
  .header {
    font-size: var(--font-medium-size);
  }

  .container {
    padding: 200px 30px;
  }

  .dtilogo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: auto;
    width: 100px;
  }
}

/* Change the logo. */
.logo {
  height: 80px;
  width: auto;
}

/* Fix background to fill the bottom of the screen */
.bgfixed {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 100%;
  max-height: 100%;
  min-width: 100%;
  position: fixed;
  bottom: 0px;
}

/* Position the DTI Logo at the bottom right of the screen */
.dtilogo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: auto;
  width: 200px;
}

/* Mobile */
@media (max-width: 992px) {
  .dtilogo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: auto;
    width: 140px;
  }
}

/* Needed so that background is flush against bottom */
.fullheight {
  padding-top: 50px;
  min-height: 100vh;
  background-color: var(--clr-blue-100);
}

/* Handle different time & seasons background */

/* 🍉 SUMMER */
.bgafternoonsummer {
  background-image: url('../../assets/Home/bg_afternoon_summer.svg'),
    linear-gradient(
      180deg,
      rgba(123, 179, 244, 0.7) 0%,
      rgba(255, 255, 255, 0) 77.1%
    );
}

.bgsunsetsummer {
  background-image: url('../../assets/Home/bg_sunset_summer.svg'),
    linear-gradient(
      201.93deg,
      rgba(91, 154, 226, 0.7) 19.17%,
      rgba(255, 228, 196, 0.7) 57.66%,
      rgba(253, 144, 65, 0.7) 84.88%
    );
}

.bgnightsummer {
  background-image: url('../../assets/Home/bg_night_summer.svg'),
    linear-gradient(302.67deg, #0c2c69 49.07%, #144199 97.23%);
}

/* 🍂 FALL */
.bgafternoonfall {
  background-image: url('../../assets/Home/bg_afternoon_fall.svg'),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 218, 175, 0.42) 77.1%
    );
}

.bgsunsetfall {
  background-image: url('../../assets/Home/bg_sunset_fall.svg'),
    linear-gradient(
      201.93deg,
      rgba(0, 93, 189, 0.7) 19.17%,
      rgba(145, 125, 181, 0.7) 50.25%,
      rgba(255, 164, 94, 0.7) 84.88%
    );
}

.bgnightfall {
  background-image: url('../../assets/Home/bg_night_fall.svg'),
    linear-gradient(302.67deg, #0c2c69 49.07%, #144199 97.23%);
}

/* ❄️ WINTER  */
.bgafternoonwinter {
  background-image: url('../../assets/Home/bg_afternoon_winter.svg'),
    linear-gradient(
      180deg,
      rgba(138, 185, 239, 0.7) 12.85%,
      rgba(185, 217, 255, 0) 77.1%
    );
}

.bgsunsetwinter {
  background-image: url('../../assets/Home/bg_sunset_winter.svg'),
    linear-gradient(
      201.93deg,
      rgba(2, 32, 66, 0.7) 14.7%,
      rgba(10, 68, 108, 0.7) 27.25%,
      rgba(144, 133, 147, 0.7) 55.16%,
      rgba(252, 137, 48, 0.7) 75.47%,
      rgba(222, 89, 24, 0.7) 84.88%
    );
}

.bgnightwinter {
  background-image: url('../../assets/Home/bg_night_winter.svg'),
    linear-gradient(302.67deg, #0c2c69 49.07%, #144199 97.23%);
}

/* 🌷 SPRING  */
.bgafternoonspring {
  background-image: url('../../assets/Home/bg_afternoon_spring.svg'),
    linear-gradient(
      180deg,
      rgba(51, 145, 254, 0.7) 7.5%,
      rgba(255, 255, 255, 0.7) 79.5%
    );
}

.bgsunsetspring {
  background-image: url('../../assets/Home/bg_sunset_spring.svg'),
    linear-gradient(
      201.93deg,
      rgba(164, 193, 209, 0.7) 19.17%,
      rgba(246, 228, 218, 0.7) 50.25%,
      rgba(255, 182, 121, 0.7) 73.5%,
      rgba(247, 124, 74, 0.7) 84.88%
    );
}

.bgnightspring {
  background-image: url('../../assets/Home/bg_night_spring.svg'),
    linear-gradient(302.67deg, #0c2c69 49.07%, #144199 97.23%);
}
