@import '../../../src/index.css';

.notFoundMarginTop {
  margin-top: 100px;
}

.notFoundImage {
  width: auto;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.notFound404Text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: var(--regular-weight);
  text-align: center;
}

.notFoundText {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: var(--regular-weight);
  text-align: center;
}
