:root {
  --regular-weight: 400;
  --semi-bold-weight: 600;

  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-gray-100: #f9f9f9;
  --clr-gray-200: #d9d9d9;
  --clr-gray-300: #979797;
  --clr-gray-500: #4a4a4a;

  --clr-blue-100: #f4f9fe;
  --clr-blue-200: #b7d8ff;
  --clr-blue-300: #65acff;
  --clr-blue-400: #0076ff;
  --clr-blue-500: #004ca3;

  --clr-yellow-100: #ffec5e;
  --clr-yellow-200: #ffd666;
  --clr-yellow-300: #f3a953;

  --clr-green-100: #92cf48;
  --clr-green-200: #53b227;

  --clr-red-100: #ff756c;
  --clr-red-200: red;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* overflow: hidden; */
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  /* line-height: 1.2; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Improve media defaults */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* remove default form styling */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

.container-width {
  width: 100%;
}

h1 {
  margin: 0;
}

div.sm-spacing {
  padding: 10px;
}

div.med-spacing {
  padding: 20px;
}

div.lrg-spacing {
  padding: 40px;
}

ul {
  background: var(--clr-white);
  margin: 0;
  padding: 0;
}

.noLeftRightPadding {
  padding-left: 0px;
  padding-right: 0px;
}
