:root {
  --regular-weight: 400;
  --semi-bold-weight: 600;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* overflow: hidden; */
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  /* line-height: 1.2; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Improve media defaults */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* remove default form styling */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

.container-width {
  width: 100%;
}
.secondary-text {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: normal;
  opacity: 0.75;
}

h1 {
  margin: 0;
}

.divider {
  border-width: 1px;
  color: #ddd;
  margin: 5px 0 10px 0;
}

div.sm-spacing {
  padding: 10px;
}

div.med-spacing {
  padding: 20px;
}

div.lrg-spacing {
  padding: 40px;
}

ul {
  background: white;
  margin: 0;
  padding: 0;
}

.noLeftRightPadding {
  padding-left: 0px;
  padding-right: 0px;
}
