#welcome_text, #second_welcome_text, .cornell-reviews {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#welcome_text{
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

#second_welcome_text{
  height: 14px;
  padding-top: 10%;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
}

nav {
  background-color: #4990E2;
  margin-top: 0;
}

#navname{
  color: #fff;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 1.8em;
}

#report-bug {
  color: #fff;
  font-weight: normal;
  padding-top: 0;
}

#report-bug:hover {
  background-color: transparent;
  opacity: .7;
}

#yes{
  color: #4990E2;
  font-weight: bold;
  cursor: pointer;
}
#no{
  color: #4990E2;
  font-weight: bold;
}

.background-gradient{
  background-image: linear-gradient(to top, #80c3f3, #4a90e2);
}

.full-height{
  min-height: 100%;
  height: 100%;
}


.background-image{
  background: url('backgroundNew-edited.jpg') fixed no-repeat;
  background-size: cover;
  object-fit: contain;
}

.container{
  background-color: rgba(255, 255, 255, 0);
}

.container-top-gap-fix{
  padding-top: 0 !important;
  padding: 0;
}

.panel-container{
  background-color: rgba(255, 255, 255, 0.0);
  height: 100%;
}

.moveDown {margin-top: 72px;}

.panel-color-translucent{
  background-color: rgba(255, 255, 255, 0.93);
}

.panel-color-gray{
  background-color: rgba(74,74,74,.06);
}

.cornell-reviews {
  color: #ffffff;
  height: 32px;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding-top: 1%;
  text-align: left;
}

.navbar {
  height: 72px;
  padding-top: 1em;
}

.pushDown {
  padding-top: 4%;
}

.title-link a {
  color: white;
  text-decoration: none;
}

.sticky{
  position: relative;
}
.noPadding {
  padding: 0 !important;
}

#img-padding-top{
  margin-top: 10%;
}

.nav-center {
  margin-top: 15px;
  background-color: transparent !important;
}

.nav-right {
  margin-top: 15px;
  float: right !important;
  background-color: transparent !important;
}

.reportButton {
  border: none !important;
  padding: 0;
}

.reportButtonWidth {
  width: 20% !important;
}

#logoImg {
  margin-top: -5px;
}

@media (min-width: 992px) {
  .sticky{
    position: sticky;
    top: 75px;
  }
}
