#welcome_text{
  width: 100%;
  height: 57px;
  font-family: HelveticaNeue;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#second_welcome_text{
  width: 100%;
  height: 32px;
  font-family: HelveticaNeue;
  font-size: 27px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  margin: 5px 0 30px 5px;
}

nav {
  background-color: #4990E2;
  padding-left: 20px;
  margin-top: 0px;
}

#navname{
  color: #fff;
  margin-top: 10px;
}

#report-bug{
  padding-left: 10px;
  color: #fff;
  font-weight: bold;
}

body{
  background: url('background.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  object-fit: contain;
}

.container{
  background-color: rgba(255, 255, 255, 0);
}

.container-top-gap-fix{
  padding-top: 0px !important;
}

.panel-container{
  background-color: rgba(255, 255, 255, 0.0);
  height: 100%;
}

.panel-color-translucent{
  background-color: rgba(255, 255, 255, 0.7);
}

.panel-color-gray{
  background-color: rgba(74,74,74,.06);
}

.remove-background{
  background-color: rgba(255, 255, 255, 1);
}
