#welcome_text, #second_welcome_text, .cornell-reviews {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#welcome_text{
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  height: 57px;
  letter-spacing: -0.4px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

#second_welcome_text{
  color: #ffffff;
  font-size: 27px;
  letter-spacing: -0.3px;
  height: 32px;
  margin: 5px 0 30px 5px;
  padding-bottom: 1%;
  text-align: center;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
}

nav {
  background-color: #4990E2;
  margin-top: 0;
  padding-left: 20px;
}

#navname{
  color: #fff;
  margin-top: 10px;
}

#report-bug{
  color: #fff;
  font-weight: bold;
  padding-right: 30px;
}

body{
  background: url('backgroundNew.JPG') fixed no-repeat;
  background-size: cover;
  object-fit: contain;
}

.container{
  background-color: rgba(255, 255, 255, 0);
}

.container-top-gap-fix{
  padding-top: 0 !important;
}

.panel-container{
  background-color: rgba(255, 255, 255, 0.0);
  height: 100%;
}

.panel-color-translucent{
  background-color: rgba(255, 255, 255, 0.93);
}

.panel-color-gray{
  background-color: rgba(74,74,74,.06);
}

.remove-background{
  background-color: rgba(255, 255, 255, 1);
}

.cornell-reviews {
  color: #ffffff;
  height: 32px;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding-top: 1%;
  text-align: left;
  width: 204px;
}

.navbar {
  height: 72px;
}

.pushDown {
  padding-top: 4%;
}
