#welcome_text, #second_welcome_text, .cornell-reviews {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#welcome_text{
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

#second_welcome_text{
  color: #ffffff;
  font-size: 27px;
  letter-spacing: -0.3px;
  margin: 5px 0 30px 5px;
  padding-bottom: 1%;
  text-align: center;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
}

nav {
  background-color: #4990E2;
  margin-top: 0;
}

#navname{
  color: #fff;
  margin-top: 10px;
  font-size: 1.8em;
}

#report-bug {
  color: #fff;
  font-weight: normal;
  padding-top: 0;
}

#report-bug:hover {
  background-color: transparent;
  opacity: .7;
}

#yes{
  color: #4990E2;
  font-weight: bold;
  cursor: pointer;
}
#no{
  color: #4990E2;
  font-weight: bold;
}

body{
  background: url('backgroundNew-edited.jpg') fixed no-repeat;
  background-size: cover;
  object-fit: contain;
}

.container{
  background-color: rgba(255, 255, 255, 0);
}

.container-top-gap-fix{
  padding-top: 0 !important;
  padding: 0;
}

.panel-container{
  background-color: rgba(255, 255, 255, 0.0);
  height: 100%;
}

.moveDown {margin-top: 72px;}

.panel-color-translucent{
  background-color: rgba(255, 255, 255, 0.93);
}

.panel-color-gray{
  background-color: rgba(74,74,74,.06);
}

.remove-background{
  background-color: rgba(255, 255, 255, 1);
}

.cornell-reviews {
  color: #ffffff;
  height: 32px;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding-top: 1%;
  text-align: left;
}

.navbar {
  height: 72px;
  padding-top: 1em;
}

.pushDown {
  padding-top: 4%;
}

.title-link a {
  color: white;
  text-decoration: none;
}

.sticky{
  position: relative;
}
.noPadding {
  padding: 0 !important;
}

.nav-center {
  margin-top: 15px;
  background-color: transparent !important;
}

.nav-right {
  margin-top: 15px;
  float: right !important;
  background-color: transparent !important;
}

.nav-searchBar {
  border: none !important;
  padding: 0;
  padding-left: 2em;
  width: 80%;
  margin-top: -15px;
}

.nav-searchBar > div {
  box-shadow: none !important;
  width: 100% !important;
  padding-top: 0;
  margin-top: 0 !important;

}

.nav-searchBar > div > input {
  text-align: left !important;
}

.nav-searchBar ul {
  width: 100% !important;
}

.reportButton {

  border: none !important;
  padding: 0;
}

.reportButtonWidth {
  width: 20% !important;
}

.searchWidth {
  width: 80%;
  padding-left: 2em;
}
.logo {
  margin-top: -5px;
}
@media (min-width: 992px) {
  .sticky{
    position: sticky;
    top: 75px;
  }
}
