.cornell-reviews, .cornell-reviews a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: var(--semi-bold-weight);
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-align: left;
  padding-left: 15%;
  padding-top: 3%;
  overflow: visible;
  white-space: nowrap;
  text-decoration: none;
}

#error {
    font-size: 50px;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding-top: 170px;

}

#loading{
    padding-top: 300px;
}

.fix-padding{
  padding-top: inherit;
}