.cornellClassLink, .primary-text {
  color: #4a4a4a;
}

.cornellClassLink {
  text-decoration: underline;
}

.spacing-small{
  line-height: 10px;
}

.spacing-medium {
  line-height: 20px;
}

.spacing-large {
  line-height: 40px;
}

#gaugeHolder > div{
  text-align: center;
}
