.past-reviews{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 11px;
  /* or 45% */

  display: inline;
  align-items: flex-end;
  letter-spacing: -0.128928px;

  /* Gray */

  color: #A2A1A1;
  border-radius: 19.6611px;
}

section{
  width:761px;
}

#reviewul{
  overflow-y:scroll !important;
  height:600px;
}

.review{
  margin-right:33px;
}

#reviewul::-webkit-scrollbar {
  width: 8px;
  height: 332.25px;
}

#reviewul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ECECEC;;
}

#reviewul::-webkit-scrollbar-thumb {
  background: #807B7B;
  border-radius: 13.5731px;
  height: 332.25px;
}

.sort{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  display:inline;
  letter-spacing: -0.225605px;
  text-decoration-line: underline;

  color: #807B7B;
}

.browser-default{
  margin-left:10px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px !important;
  line-height: 19px !important;
  background-color: transparent !important;
  /* or 104% */

  letter-spacing: -0.225605px;

  color: #0076FF;
}

.sortWrapper{
  margin-left:325px;
  display:inline;
}

.reviewHeader{
  margin-bottom:34.5px;
}