.past-reviews{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: #000000;
  padding-top: 20px;
}