.coursereviews-header{
  margin-bottom:34px;
  padding-right: 35px;
}

.coursereviews-past-reviews-text{
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 24px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  display: inline;
  color: #A1A1A1;
}

.coursereviews-sort-container{
  float: right;
  display:inline;
  margin-top: 8px;
}

.coursereviews-sort{
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  display:inline;
  text-decoration-line: underline;
  color: #807B7B;
}

.coursereviews-sort-options{
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin-left:10px;
  background-color: transparent !important;
  border:none;

  color: #0076FF;
}

.coursereviews-review-ul{
  overflow-y:scroll !important;
  height:55vh;
}

.coursereviews-review-ul::-webkit-scrollbar {
  width: 8px;
  padding-right:8px;
}

.coursereviews-review-ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ECECEC;
}

.coursereviews-review-ul::-webkit-scrollbar-thumb {
  background: #807B7B;
  border-radius: 13.5731px;
  height: 332.25px;
}

