/* Overrides the hover color from .classbutton:hover */
.active{
  background-color: #D3D3D3;
}
.no-hover:hover {
  background-color: #f2f2f2 !important;
}

.classbutton:hover{
  background-color: #D3D3D3 !important;
}

.text-style-1{
  display: inline-block;
  overflow: ellipsis;
  color: #4a4a4a;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 1.11;
  padding-bottom: 5px;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.text-style-2{
  display: inline-block;
  overflow: ellipsis;
  color: #4a4a4a;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 1.11;
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
}

.float-right{
  padding-right: 10%;
  float:right;
}

.text-style-1:hover {
  text-decoration: none;
  color: inherit;
}

.found {
  text-decoration: underline;
  font-weight: bold;
  color:#4990E2;
}
