.cornellClassLink {
  color: #9b9b9b;
}

.spacing-small{
  line-height: 10px;
}

.spacing-medium {
  line-height: 20px;
}

.spacing-large {
  line-height: 20px;
}

.top-margin-small {
  margin-top: 20px;
}

.top-margin-medium {
  margin-top: 40px;
}

.top-margin {
  margin-top: 50px;
}

.subheader {
  font-family: HelveticaNeue;
  font-size: 35px;
}

.courseNum{
  text-align: center;
  font-size: 23.5px;
  color: #ffffff;
  margin-left: center;
  margin-right: center;
  margin-top:20px;
}

.review-text {
  font-family: HelveticaNeue;
  font-size: 18px;
  color: #333333;
}

.overall-rank {
  font-size: 30px;
  color: white;
  vertical-align: center;
  text-align:center;
  align-items: center;
}

label {
  font-family: HelveticaNeue;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
}

#gaugeHolder > div{
  text-align: center;
}

#coursedetails {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
