.result-card{
  border-radius: 10px;
  padding: 15px 24px 0px 24px;
  margin: 32px 0;
  background-color: white;
  list-style-type: none;
}

.result-card-clicked{
  border: solid 2px #4a90e2;
}

.result-card-title{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #0076FF;;
  margin-bottom: 7px;

}

.result-card-subtitle{
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 0px;
  margin-bottom:15px
}


.result-card-sort-by-text{
  margin-bottom: 20px;
}

.result-card-rating-text p{
  display:inline-block;
}

.result-card-rating-text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 7px;
  letter-spacing: -0.0819218px;
  color: #000000;
}

.result-card-sort-by-value{
  padding: 0 0 0 14px;
}
