.card-title{
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.card-subtitle{
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif; 
  margin-top: 5px;
}

.class-info{
  font-family: "Source Sans Pro", sans-serif;   
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #000000;
}
/* ? "solid 1px #4a90e2" : "solid 0.5px #d8d8d8" */
.card{
  border-radius: 10px;
  border: solid 1.5px #d8d8d8;
  padding: 15px 15px 0px 15px;
  margin: 20px 0;
}

.card-clicked{
  border: solid 2px #4a90e2;
}

.p-display{
  display: inline-block;
  padding-right: 5px;
  font-family: "Source Sans Pro", sans-serif; 
}

#over-5{
  color: #979797;
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif; 
}