.result-card{
  border-radius: 10px;
  border: solid 1.5px #d8d8d8;
  padding: 15px 15px 0px 15px;
  margin: 20px 0;
}

.result-card-clicked{
  border: solid 2px #4a90e2;
}

.result-card-title{
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.result-card-subtitle{
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif; 
  margin-top: 5px;
}


.result-card-sort-by-text{
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif; 
}

.result-card-sort-by-value{
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 0 0 5px;
}

.result-card-sort-by-five{
  display: inline-block;
  color: #979797;
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif; 
}
