form {
    border-radius: 100px;
}
.panel-body-2 {
    margin: auto;
    padding: 25px 30px;
}
#form{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 20px;
}

#form-dropdown{
  z-index: 100;
}

#reviewTextRow{
  padding-left: 13px;
  padding-right: 13px;  
}

.dropdown-button{
  width: 100%;
  border: none;
  height: 54px;
  border-radius: 1.5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background-color: #4a90e2;
  outline: 0;
}

.review-header {
  height: 14px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: #ffffff;
  margin-bottom: 15px;
}

.rodal{
  z-index: 1000;
}

.float-r{
  float: right;
}

.padding-right-40{
  padding-right: 40px;
}

.arrow {
  border: solid #4a90e2;
  margin: 6px 0px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    /* max-height: 0;*/ /* uncomment to have more of a 'slide' animation; however, this breaks dynamic resizing 'push down' */
    width: 100%;
    display: block;
    overflow: visible;
    opacity: 0;
    border-radius: 0px 0px 4px 4px;
    padding: 0;
    margin: 0px 0 0 0;
    /* z-index: 1003; */
}

.dropdown.open .dropdown-menu {
  max-height: 650px;
  opacity: 1;
}

.dropdown-menu-popup{
  background-color: #ffffffe6 !important;
  opacity: 1 !important;
}

.dropdown-tab{
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  border: solid 1px #4a90e2;
  border-top-style: none;
  height: 32px;
  margin: -3px 4px;
  cursor: pointer;
}

.dropdown-tab-close{
  text-align: center;
  height: 32px;
  margin: -10px 0;
  cursor: pointer;
}

.dropdown.open .dropdown-tab{
  display: none;
  opacity: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 13px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #4a90e2;
    border-radius: 15px;
    height: 6.4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 100%;
    box-shadow: 0px 1px 2px 0px #000000;
    cursor: pointer;
    position: relative;
    bottom: 5px; /* Used to fix spacing */
    height: 17px;
    opacity: 1;
    width: 17px;
}

input[type="submit"]{
    background-color: #4990E2;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    text-align: center;
    width: 100px;
}
input[type="submit"]:active{
    background-color: #2d6fbc;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    text-align: center;
    width: 100px;
}

textarea {
    height: 100px;
    width: 100%;
    resize: none;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid #999999;
}

.form-input-text{
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: #4A4A4A;
  background-color: transparent;

}

.form-label{
  margin-bottom: 0;
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: #4a4a4abf;
}

.rating-icon{
  background: black;
  border-radius: 10%;
  height: 33px;
  width: 35px;
  justify-content: center;
}

#sm1, #sm2 {
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#sm1 {
    background-color: #A0D53F;
}

#sm2 {
    background-color: #f44336;
}

.secondary-text {
    margin-bottom: 0;
    margin-top: 10px;
}

.postbutton{
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4a90e2;
    border-radius: 8px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: var(--semi-bold-weight);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.001em;
    color: #ffffff;
    height: 40px;
    position: relative;
    margin-top: 24px;
}

#postbutton:focus {
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 3pt 2pt #99c2e7;
}

.sliderHolder {
    padding-left: 10%;
}

input[type="range"] {
    width: 100%;
}

.error, .error:focus {
  border: 1px solid red !important;
  outline: 1px solid red;
}

.form-field-error{
  color: #FF314A;
}

.hidden { display:none; }

.selectAlignment {
  padding-top: 8px;
}

.noLeftRightMargin{
  margin-right: 0;
  margin-left: 0;
}

#modal-top{
  height: 35%;
  padding-top: 15px;
  z-index: 1008;
  box-shadow: 0 2px 3.5px 0 rgba(231, 231, 231, 0.83);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
}

#modal-background{
  height: 100%;
  background-color: rgba(247, 247, 247, 0.98);
}

#modal-title{
  margin-top: 5%;
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #4a90e2;
}

#modal-text{
  /* width: 399px; */
  /* height: 109px; */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #666666;
}

#modal-footer{
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: 0.3px;
  text-align: center;
  color: #a8a8a8;

}

.scale-logo-modal{
  width: auto;
  max-height: 50%;
}

.rodal-dialog{
  padding: 0;
}