form {
    border-radius: 100px;
}
.panel-body {
    margin: auto;
    padding: 25px 30px;
}
textarea {
    height: 100px;
    width: 100%;
    resize: none;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

#sm1, #sm2 {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}

#sm1 {
    background-color: #A0D53F;
}

#sm2 {
    background-color: #f44336;
}

p {
    margin: 0;
}

.secondary-text {
    margin-bottom: 0;
    margin-top: 10px;
}

#postbutton{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4a90e2;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    float: right;
    letter-spacing: 0.1px;
    height: 22px;
    text-align: center;
    height: 40px;
}

.sliderHolder {
    padding-left: 10%;
}

input[type="range"] {
    width: 100%;
}

.error, .error:focus {
  border: 1px solid red !important;
  outline: 1px solid red;
}

.hidden { display:none; }
