form{
    border-radius: 100px;
}
.panel-body{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 25px;
}
textarea{
    width: 100%;
    height: 100px;
}
#sm1{
    color:white;
    background-color: #A0D53F;
    justify-content: center;
    display: flex;
    align-items: center;
}

#sm2{
    color:white;
    background-color: #f44336;
    justify-content: center;
    display: flex;
    align-items: center;
}
p {
    margin: 0;
}
.secondary-text{
    margin-bottom: 0px;
    margin-top: 10px;
}
input{
    width: 40px;
    height: 22px;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    float: right;
    border-radius: 8px;
    background-color: #4a90e2;
}
#postbutton{
    padding-left: 30px;
    padding-right:30px;
}
.sliderHolder {
  padding-left: 10%;
}
input[type="range"] {
  width: 100%;
}
