.gauge-text {
  text-align: center;
  margin: 0;
  width: 100%;
}

.h-align{
  text-align: center;
}
.gauge-bottom-text {
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 15px;
}

.rating {
  font-size: 50px;
}

.gauge-center {
  /*margin-left: 25%;*/
  display: inline-block;
}

.gauge-container {
  width: 70%;
}

.no-left-margin{
  margin-left: 0px
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}
