.gauge-component-container{
  /* height: 90px; */
}

.gauge-text {
  font-family: "Source Sans Pro", sans-serif; 
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  height: 95px;
}

.gauge-text-top {
  font-size: 40px;
  height: 65%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.gauge-text-bottom {
  font-size: 15px;
  height: 35%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;

}

.gauge-height-center{
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gauge-container {
  /* width: 70%; */
}

.no-left-margin{
  margin-left: 0px
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}
