.gauge-component-container{
  height: 95px;
}

.gauge-text-container {
  font-family: "Source Sans Pro", sans-serif; 
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  height: 100%;
  display: inline-flex;
  justify-content: center;
}

.gauge-text-padding{
  padding-left: 12% !important;
}

.gauge-text-padding-preview{
  padding-left: 3% !important;
}

.gauge-text{
  display: inline-grid;
  margin-top: auto;
  margin-bottom: auto;
}

.gauge-text-top {
  font-size: 40px;
  text-align: center;
  line-height: 30px;
}

.gauge-text-top-preview {
  font-size: 50px;
  text-align: center;
  line-height: 45px;

}

.gauge-text-bottom {
  font-size: 15px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 25px;
}

.gauge-height-center{
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gauge-container-preview {
  width: 95%;
}

.gauge-container {
  width: 84%;
}

.no-left-margin{
  margin-left: 0px
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}
