.navbar {
  min-height: 127.43px;
  width: 100%;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 2.49858px 2.49858px rgba(0, 0, 0, 0.08);
  z-index: 110;
  top: 0px;
  position: sticky;
  background: #FFFFFF;
  border: 0;
  /* margin-bottom: 0;
  margin-top: 0; */
  margin: 0;
}

.scale-logo-navbar{
  height: 60px;
  width: auto;
  margin: 0 0 0 60px;
}

.text-report-bug{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: var(--semi-bold-weight);
  font-size: 18px;
  text-decoration: none;
  margin-top: 12px;
  text-align: right;
  padding-right: 30px;
}
