/* Panel Styling */

.preview-holder{
  margin-right: 2vw;
  margin-left: 20px;
}

.review-holder{
  margin-left: auto;
  margin-right: auto;
}

.preview-panel{
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 40px 40px 25px 70px;
}
.preview-class-link{
  color: #0076FF;
  font-size: 32px;
}

.preview-class-title{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
}

.preview-class-info{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #A2A1A1;
  margin-bottom: 17px;
}

/* Preview Review Styling */

.preview-top-review-label{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #807B7B;
}

.preview-empty-top-review{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #979797;
  padding-bottom: 100px;
}

.preview-review-button{
  background: #0076FF;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  border-radius: 10px;
  height: auto;
  padding: 10px;
  font-size: 18px;
  width: 95%;
  display: inline-grid;
}

/* Gauge Styling */

.gaugeHolder{
  padding: 25px 0px 0px 0px;
}

.remove-left-padding {
  padding-left: 0px;
}

.left-gauge{
  text-align: left;
}
.center-gauge{
  text-align: center;
}
.right-gauge{
  text-align: right;
}

.gaugeHolder svg text:first-of-type{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px !important;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  fill: #000000 !important;
}

.gaugeHolder svg text:last-of-type{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px !important;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #000000;
}

.gaugeHolder svg{
  overflow: visible !important;
}

#gauge, #gauge-body{
  width: 50%;
}
