.classNameLink {
  /*width: 428px;*/
  color: #4a4a4a;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  margin-bottom: 3%;
  text-align: left;
  cursor: pointer;
}

.classNameLink .text-style-1 {
  font-weight: 500;
}

.classNameLink .text-style-2 {
  color: rgba(74, 74, 74, 0.51);
}

.reviewNumbers{
  margin-bottom: 8px;
}
