/* Filter Sidebar Styling */

.filters{
  font-family: "Source Sans Pro", sans-serif; 
  padding-left: 55px;
}

.filter-title{
  margin-bottom: 20px;
}


.filter-sub-category{
  padding-bottom: 20px;
}
.filter-sub-title{
  color: #979797;
}

.filter-checkbox-label{
  font-family: "Source Sans Pro", sans-serif; 
  margin: 0px 0px 0px 10px;
}

/* Class Results List Styling */

.results{
  height: calc(100vh - 189px);
  overflow:auto
}

.loading-results{
  margin-right: auto;
  margin-left: auto;
  margin-top: 20vh;
}

.loading-margin-top{
  margin-top: 55px;
}

.results::-webkit-scrollbar {
  width: 8px;
  height: 332.25px;
  padding-right:8px;
}

.results::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ECECEC;;
}

.results::-webkit-scrollbar-thumb {
  background: #807B7B;
  border-radius: 13.5731px;
  height: 332.25px;
}

.results-num-classes-found{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: #000000;
  margin: 0;
}

.results-sort-by-container{
  display: inline-flex;
}

.results-sort-by-text{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: #000000;
  text-align: right;
  margin: 0 0 0 auto; 
}

.results-sort-by-select{
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  border-color: transparent;
  border: 0px;
  color: #4a90e2;
  outline: none;
  font-size: 14px;
}

.no-results{
  width: auto;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.no-results-text{
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 25px;
  text-align: center;
}

/* Class Preview Styling */

.preview{
  overflow: hidden;
}



