.results-title{
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #4a4a4a;
}
#results{
  overflow: hidden;
}