/* Font declaration */
/* #text, #review_text, #label, #button_text {
font-family: 'Helvetica Neue', Arial, sans-serif;
} */
:root{
  --preview-lines-to-trunkate: 2;
}

.preview-review-overflow {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: calc(1.25em * var(--preview-lines-to-trunkate));
  -webkit-line-clamp: var(--preview-lines-to-trunkate);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metric-text{
  display:block;
  margin-right:11px;
}

.panel-body-3 {
  margin: auto;
  padding: 8px 50px 5px 50px;
}

#rectangle, .review {
  background: #FFFFFF;
  border: 0.625px solid #B7D8FF;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 32px;
  height:186px;
  width:720px;
}

#rectangle {
  border: solid 1px #dddddd;
  border-radius: 8px;
  margin-top: 10px;
}



#circlebox-preview {
  border-radius: 25px;
  height: 25px;
  padding-top: 0;
  min-width: 25px !important;
  max-width: 25px !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

#text {
  color: #ffffff;
  height: 100%;
  font-size: 16px;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  position: relative;
  left: -50%;
}

.professor-text, .professor-title{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  
  color: #000000;
}

.professor-text-preview{
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  text-align: center;
  background-color: #E0F0FF;
  padding-left: 2px;
  padding-right: 2px;
  margin: 5px 0 6px 0;
}

#label{
  color: #4a4a4a;
  font-size: 16px;
  letter-spacing: 0.1px;
  opacity: 0.5;
  text-align: left;
  margin: 0 7px;
}

.review-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  text-align: left;
  padding-bottom: 15px;
}

.review-text-preview {
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 14px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #000000;
  text-align: left;
}

.review-date {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: inline;
  align-items: center;
  width:20px;
  color: #9B9B9B;

}

.upvote-text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: inline;
  align-items: center;
  text-align: right;

  color: #807B7B;
  margin-right: 10px;
}

.report-review, .upvote, .voted {
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  line-height: 1.42857;
  background-color: transparent;
  float: right;
  margin-right: 10px;
  border-color: transparent;
}

.report-review {
  color: #9b9b9b;
  padding-top: 14px;
}

.upvote{
  color: #4990e2;
  margin-right: 0px;
  padding-right: 8px;
  border-radius: 30px;
}

.voted{
  color: #fff;
  background-color:#4990e2;
  border-color: #4990e2;
  margin-right: 0px;
  padding-right: 0px;
  border-radius: 30px;
}

.report-review:hover {
  color: #4990e2;
}

.upvote:hover {
  border-color: #4990e2;
}

.voted:hover {
  border-color: black;
}

#reviewpanel, #reviewul {
  background-color: #f2f2f2;
}

#reviewpanel {
  border-color: transparent;
}

#labelName {
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
  font-size: 14.5px;
  letter-spacing: 0.1px;
  text-align: left;
  margin: 0 0px;
  padding-top: 4px;
}

#label-wrap{
  margin: 0 0;
  padding: 4px 0 15px 0;
  text-align: left;
}



.professor-title-preview {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #000000;
  text-align: left;
  padding: 5px 0 10px 0;
}

#agreeNumber {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
}



.review-padding-left{
  /* padding-left: 50px !important; */
}



.review-number-text-preview{
  height: 100%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: auto;
}

.review-number-label, .review-number-text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  
  color: #000000;
}



.review-number-label-preview{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #000000;
  white-space: nowrap;
  margin: 0;
  padding: 3px 1.1vw;
}

.reviewNumbers{
  padding:0px;
  display: block;
  width: 75px;
  margin-right:11px;
}

reviewNumbers p{
  display:block;
}

.space-review-buttons {
  margin-left: 5px;
}

.noLeftRightSpacing{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  display:block;
}

.prof p, .btn-lg, .upvote-text{
  display:inline;
}

.btn-lg{
  width:90px;
}

.prof{
  margin-bottom:8px;
}

.numbers{
  width:7px;
  margin-right:64px;
  height:120px;
}

.rightCol{
  width:615px;
}

.glyphicon{
  display:inline;
}
