/* Font declaration */
#text, #review_text, #label, #button_text {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#rectangle, .review {
  background-color: #ffffff;
}

#rectangle {
  border: solid 1px #dddddd;
  border-radius: 8px;
  margin-top: 10px;
}

#box {
  border-radius: 8px;
  height: 34px;
  /*background-color: #e64558;*/
  padding-top: 0;
  width: 44px;
}

#text {
  color: #ffffff;
  height: 100%;
  font-size: 24px;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  margin: 0 5%;
}

#review_text {
  overflow: hidden;
  color: #4a4a4a;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.1px;
  text-align: left;
}

#label{
  color: #4a4a4a;
  font-size: 14px;
  letter-spacing: 0.1px;
  opacity: 0.5;
  text-align: left;
  margin: 0 7px;
}

#button_text {
  padding-left: 0;
  color: #4a4a4a;
  font-size: 14px;
  opacity: 0.35;
  letter-spacing: 0.1px;
  text-align: right;
  border: none;
  background-color: white;
  text-decoration: underline;
}

#reviewpanel, #reviewul {
  background-color: #f2f2f2;
}

#reviewpanel {
  border-color: transparent;
}

.review {
  border-radius: 8px;
  border: solid 1px #dddddd;
  width: 100%;
}

.reviewNumbers{
  margin-bottom: 8px;
}
