#searchbar {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.5);
  display: inline-block;
  max-width: 1000px;
  margin-top: 20px;
  width: 80%;
  height: 100%;
  /*padding: 0 10px;*/
}

#search {
  background-color: white;
  border-color: transparent;
  color: black;
  cursor: text;
  font-weight: normal;
  height: 33px;
  padding: 5px;
  text-align: center;
  text-indent: 10px;
  width: 100%;
  border-radius: 10px;
  height: 40px;
}

#search:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #99c2e7;
}

#output {
  background: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-top: 0px; /* height of the input element*/
  max-height: 500px;
  overflow-y: auto;
  position: absolute;
  max-width: 1000px;
  /* width: 61.5%; */
  z-index: 1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 4px;
}

.nav-search-holder {
  width: 100%;
}

.navbar-flex{
  height: auto !important;
  display: flex;
}

.navbar-text{
  margin-left: 13px;
  color: #fff;
  font-weight: bold;
}

/* custom widths for searchbar */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	#output {
    width: 61.5%
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  #output {
    width: 61.7%
  }
}

@media only screen and (min-width : 1160px) {
  #output {
    width: 62%;
  }
}

@media only screen and (min-width : 1280px) {
  #output {
    width: 62.4%
  }
}
