#searchbar {
  background-color: white;
  max-width: 600px;
  display: inline-block;
  border-radius: 8px;
  box-shadow:  0px 2px 8px 0
  rgba(0,0,0,0.5);
  margin-top: 20px;
}

#search{
  text-align: center;
  font-weight: normal;
  color: black;
  background-color: white;
  width: 100%;
  padding: 5px;
  height: 33px;
  border-color: transparent;
  cursor: default;
}

#output{
  z-index: 1;
  position: absolute;
  margin-top: 30px;/* height of the input element*/
  background: solid white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 8px 0
    rgba(0,0,0,0.5);
  width: 600px;
  max-height: 205px;
  overflow:hidden;
  cursor: pointer;
}
