/* Searchbar Normal (Non-Popup) */

.searchbar {
  background-color: transparent;
  display: inline-block;
  height: 100%;
  padding: 0;
  position: relative;
  outline: 0;
  background: #FFFFFF;
  border: 1.24929px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-text{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  letter-spacing: 0.01em;
  color: #000000;
  background-color: white;
  border-color: transparent;
  border-radius: 10px;
  cursor: text;
  text-align: left;
  width: 100%;
  height: 40px;
  background-image: url(/magnifying_glass.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  background-size: 17px;
  padding-left: 40px;
  outline: 0;
  position: relative;
  z-index: 1002;
}

.search-text::placeholder{
  color: #C9C9C9;
  font-weight: var(--regular-weight);
}

.output {
  background: transparent;
  cursor: pointer;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1001;
  border-radius: 0 0 10px 10px;
  margin-top: -5px;
}

/* Selects all 'output' class objects that are decendents
    of 'contrasting-result-background' class .
    Used to add background contrasting color to searchbar
    search results */
.contrasting-result-background .output {
  border-style: solid;
  border-color: #6ba7ec;
  border-width:  0 1px 1px 1px;
}

/* Searchbar Pop-Up */

.searchbar-popup {
  background-color: transparent;
  padding: 0;
  width: 100%;
  height: 4.6%;
  font-family: sans-serif;
  font-size: 90%;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align:left;
}

.search-text-popup, .search-text-popup::placeholder{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #B1CFF2;
  background-color: transparent;
  border-color: transparent;
  cursor: text;
  padding: 5px;
  text-align: left;
  text-indent: 10px;
  width: 100%;
  border-radius: 10px;
}

.search-text-popup-selected{
  color: #000000;
}

.search-text-popup:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #99c2e7;
}

.output-popup{
  background: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-top: 0px; /* height of the input element*/
  max-height: 500px;
  overflow-y: auto;
  position: absolute;
  /* max-width: 1000px; */
  width: 77%;
  z-index: 1001; /* 1001 to make sure search results are always at the forefront of the page */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 4px;
}
