.modalbg {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  width: 30%;
  height: 45%;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.closeicon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  height: 1.25rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
}

.formcol {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.875rem;
  font-weight: 400;
  color: #807b7b;
  margin-bottom: 0.25rem;
}

.input {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.error {
  color: #dc2626;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.submitbutton {
  background-color: #0076ff;
  color: white;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.submitbutton:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.secondRow {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}
