
.semesterUpdate {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  flex: 1;
}

.buttonGroup {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  gap: 8px;
}

.adminButton {
  background-color: var(--clr-blue-300);
  color: var(--clr-white);
  font-weight: var(--semi-bold-weight);
  font-size: var(--font-small-size);
  border-radius: 5px;
  margin-right: 2px;
  padding: 5px 6px;
  cursor: pointer;
}

.raffleTitle {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  font-weight: var(--semi-bold-weight);
}

.raffleSection {
  flex-direction: row;
  gap: 8px;
  font-weight: var(--semi-bold-weight);
}

.selectDate {
  margin-left: 12px;
  margin-right: 12px;
  font-weight: var(--regular-weight);
}

.updateSection{
  margin-top: 24px;
  font-size: var(--font-medium-size)
}

