.adminLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  width: 100%;
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #B6D8FF;
  top: 0;
  left: 0;
}

.contentWrapper {
  display: flex;
  flex: 1;
  height: 100vh;
}

.sidebar {
  width: 220px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid #B6D8FF;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background-color: #F4F9FF;
  padding: 50px;
  padding-left: 100px;
  min-height: 100vh;
}

