.adminLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex: 1;
  height: 100vh;
}

.sidebar {
  width: 220px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid #b6d8ff;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f9ff;
  padding: 50px;
  padding-left: 100px;
  min-height: 100vh;
  width: 50%;
}

