.whiteBg {
  background-color: white !important;
  padding-top: 20px;
}

.separate-buttons {
  padding: 20px;
}

.width-90 {
  width: 90% !important;
  margin: 0 auto;
}

.width-50 {
  width: 50% !important;
  margin: 0 auto;
}

.semester-dropdown{
  width: 20%;
}

.react-select__option{
  text-align: left;
}

.error-text{
  color: red;
}