.homepage-text {
  /* height: 14px; */
  /* padding-top: 6%; */
  font-family: "Source Sans Pro", sans-serif;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #0076FF;
  margin-bottom: 25px;
}

@media (min-width: 1000px) {
  .homepage-text {
    font-size: 24px;
  }

  .homepage-text-padding {
    padding-left: 120px;
  }

  .scale-logo-homepage {
    margin: 120px 0px 0px 120px;
  }
}

@media (max-width: 1000px) {
  .homepage-text {
    font-size: 18px;
  }

  .homepage-text-padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .scale-logo-homepage {
    margin: 120px 0px 0px 30px;
  }
}

.scale-logo-homepage {
  height: 100px;
  width: auto;
}

.homepage-text-padding {
  padding-top: 10px;
}

.background-common{
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.background-gradient_afternoonsummer{
  
  background-image: url("/bg_afternoon_summer.svg"),
  linear-gradient(180deg, 
                rgba(123, 179, 244, 0.7) 0%, 
                rgba(255, 255, 255, 0) 77.1%);                            
}

.background-gradient_sunsetsummer{
  
  background-image: url("/bg_sunset_summer.svg"),
  linear-gradient(201.93deg, 
                rgba(91, 154, 226, 0.7) 19.17%, 
                rgba(255, 228, 196, 0.7) 57.66%, 
                rgba(253, 144, 65, 0.7) 84.88%);
}

.background-gradient_nightsummer{
  
  background-image: url("/bg_night_summer.svg"),
  linear-gradient(302.67deg, 
                #0C2C69 49.07%, 
                #144199 97.23%);
}

.background-gradient_afternoonfall{
  
  background-image: url("/bg_afternoon_fall.svg"),
  linear-gradient(180deg, 
                rgba(255, 255, 255, 0) 0%, 
                rgba(255, 218, 175, 0.42) 77.1%);
}

.background-gradient_sunsetfall{
  
  background-image: url("/bg_sunset_fall.svg"),
  linear-gradient(201.93deg, 
                rgba(0, 93, 189, 0.7) 19.17%, 
                rgba(145, 125, 181, 0.7) 50.25%, 
                rgba(255, 164, 94, 0.7) 84.88%);                           
}

.background-gradient_nightfall{
  
  background-image: url("/bg_night_fall.svg"),
  linear-gradient(302.67deg, 
                #0C2C69 49.07%, 
                #144199 97.23%);
}

.background-gradient_afternoonwinter{
  
  background-image: url("/bg_afternoon_winter.svg"),
  linear-gradient(180deg, 
                rgba(138, 185, 239, 0.7) 12.85%, 
                rgba(185, 217, 255, 0) 77.1%);                            
}

.background-gradient_sunsetwinter{
  
  background-image: url("/bg_sunset_winter.svg"),
  linear-gradient(201.93deg, 
                rgba(2, 32, 66, 0.7) 14.7%, 
                rgba(10, 68, 108, 0.7) 27.25%, 
                rgba(144, 133, 147, 0.7) 55.16%, 
                rgba(252, 137, 48, 0.7) 75.47%, 
                rgba(222, 89, 24, 0.7) 84.88%);
}

.background-gradient_nightwinter{
  
  background-image: url("/bg_night_winter.svg"),
  linear-gradient(302.67deg, 
                #0C2C69 49.07%, 
                #144199 97.23%);
}

.background-gradient_afternoonspring{
  
  background-image: url("/bg_afternoon_spring.svg"), 
  linear-gradient(180deg, 
                rgba(51, 145, 254, 0.7) 7.5%, 
                rgba(255, 255, 255, 0.7) 79.5%)                                                             
}

.background-gradient_sunsetspring{
  
  background-image: url("/bg_sunset_spring.svg"),
  linear-gradient(201.93deg, 
                rgba(164, 193, 209, 0.7) 19.17%, 
                rgba(246, 228, 218, 0.7) 50.25%, 
                rgba(255, 182, 121, 0.7) 73.5%, 
                rgba(247, 124, 74, 0.7) 84.88%);
                            
}

.background-gradient_nightspring{
  
  background-image: url("/bg_night_spring.svg"),
  linear-gradient(302.67deg, 
                #0C2C69 49.07%, 
                #144199 97.23%);
}

.dti-logo{
  position: absolute;
  bottom: 10px;
  right: 30px;
}

/* Needed so that background is flush against bottom */
.full-height {
  min-height: 100vh;
  background-color: #F4F9FE;
}

/* I believe this is only used in recentreview.jsx so will remove soon TODO */
.container {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  width: .6%;
  padding-right: 100%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ECECEC;
}

::-webkit-scrollbar-thumb {
  background: #807B7B;
  border-radius: 13.5731px;
}
