.homepage-text {
  /* height: 14px; */
  /* padding-top: 6%; */
  font-family: "Source Sans Pro", sans-serif;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #0076FF;
  margin-bottom: 25px;
}

@media (min-width: 1000px) {
  .homepage-text {
    font-size: 24px;
  }

  .homepage-text-padding {
    padding-left: 120px;
  }

  .scale-logo-homepage {
    margin: 120px 0px 0px 120px;
  }
}
  
@media (max-width: 1000px) {
  .homepage-text {
    font-size: 18px;
  }

  .homepage-text-padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .scale-logo-homepage {
    margin: 120px 0px 0px 30px;
  }
}

.scale-logo-homepage {
  height: 100px;
  width: auto;
}

.homepage-text-padding {
  padding-top: 10px;
}

.background-gradient{
  
  background-image: url("/slope.svg"), linear-gradient(180deg, 
                                                      rgba(104, 165, 236, 0.65) 0%, 
                                                      rgba(104, 165, 236, 0.1) 77.1%, 
                                                      rgba(168, 211, 245, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.dti-logo{
  position: absolute;
  bottom: 10px;
  right: 30px;
}

 /* Needed so that background is flush against bottom */
.full-height{
  min-height: 100vh;
  background-color: #F4F9FE;
}
/* I believe this is only used in recentreview.jsx so will remove soon TODO */
.container{
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  width: .6%;
  padding-right:100%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ECECEC;
}

::-webkit-scrollbar-thumb {
  background: #807B7B;
  border-radius: 13.5731px;
}