.homepage-text{
  /* height: 14px; */
  /* padding-top: 6%; */
  margin-bottom: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #0076FF;
  margin-bottom: 25px;
}


.homepage-text-padding{
  padding-left: 120px;
  padding-top: 10px;
}

.scale-logo-homepage{
  height: 100px;
  width: auto;
  margin: 120px 0px 0px 120px;
}

.background-gradient_summer{
  
  background-image: url("/slope.svg"), linear-gradient(180deg, 
                                                      rgba(104, 165, 236, 0.65) 0%, 
                                                      rgba(104, 165, 236, 0.1) 77.1%, 
                                                      rgba(168, 211, 245, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.background-gradient_afternoon{
  
  background-image: url("/slope.svg"), linear-gradient(180deg, 
                                                      rgba(104, 165, 236, 0.65) 0%, 
                                                      rgba(104, 165, 236, 0.1) 77.1%, 
                                                      rgba(168, 211, 245, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.background-gradient_sunset{
  
  background-image: url("/sunset_slope.svg"), linear-gradient(201.93deg, 
                                                          rgba(91, 154, 226, 0.7) 19.17%, 
                                                          rgba(255, 228, 196, 0.7) 57.66%, 
                                                          rgba(253, 144, 65, 0.7) 84.88%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.background-gradient_night{
  
  background-image: url("/night_slope.svg"), linear-gradient(302.67deg, 
                                                    #0C2C69 49.07%, 
                                                    #144199 97.23%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.background-gradient_afternoonfall{
  
  background-image: url("/fall_slope.svg"), linear-gradient(180deg, 
                                                      rgba(104, 165, 236, 0.65) 0%, 
                                                      rgba(104, 165, 236, 0.1) 77.1%, 
                                                      rgba(168, 211, 245, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.background-gradient_sunsetfall{
  
  background-image: url("/fall_slope.svg"), linear-gradient(201.93deg, 
                                                          rgba(91, 154, 226, 0.7) 19.17%, 
                                                          rgba(255, 228, 196, 0.7) 57.66%, 
                                                          rgba(253, 144, 65, 0.7) 84.88%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.background-gradient_afternoonwinter{
  
  background-image: url("/winter_slope.svg"), linear-gradient(180deg, 
                                                      rgba(104, 165, 236, 0.65) 0%, 
                                                      rgba(104, 165, 236, 0.1) 77.1%, 
                                                      rgba(168, 211, 245, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.background-gradient_sunsetwinter{
  
  background-image: url("/winter_slope.svg"), linear-gradient(201.93deg, 
                                                          rgba(91, 154, 226, 0.7) 19.17%, 
                                                          rgba(255, 228, 196, 0.7) 57.66%, 
                                                          rgba(253, 144, 65, 0.7) 84.88%);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 103%;
}

.dti-logo{
  position: absolute;
  bottom: 10px;
  right: 30px;
}

 /* Needed so that background is flush against bottom */
.full-height{
  min-height: 100vh;
  background-color: #F4F9FE;
}
/* I believe this is only used in recentreview.jsx so will remove soon TODO */
.container{
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  width: .6%;
  padding-right:100%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ECECEC;
}

::-webkit-scrollbar-thumb {
  background: #807B7B;
  border-radius: 13.5731px;
}