@import "../../index.css";

.classView {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
}

.content {
  overflow-y: auto;
  flex: 1;
}

.authModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  padding: 20px;
}

.reviewModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  padding: 20px;
}

.reviewModalForm {
  margin-top: 50px;
}

.modalOverlay {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .authModal {
    margin: auto;
    height: 500px;
    width: 480px;
    border-radius: 10px;
  }

  .reviewModal {
    margin: auto;
    height: 700px;
    width: 500px;
    border-radius: 10px;
  }
}

.courseInfoColumn {
  background: #ffffff;
  padding: 35px 35px 0;
}

.courseTitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: var(--semi-bold-weight);
  letter-spacing: -0.13px;
  color: #000000;
}

.courseSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: var(--regular-weight);
  letter-spacing: -0.13px;
  color: #a2a1a1;
  margin: 16px 0 0 0;
}

.reviewFormContainer {
  margin-top: 30px;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  background-color: #ffffff;
  padding: 20px;
}

.gaugeContainer {
  width: 100%;
  background-color: #ffffff;
  height: 150px;
  padding: 30px 5px;
  display: flex;
  justify-content: space-between;
}

.gauge {
  height: 100%;
  padding: 0 8px 0 0;
}

.startReviewButton {
  background-color: #0076ff;
  color: #ffffff !important;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.startReviewButton:hover {
  background-color: #0076ff;
  color: #ffffff !important;
}

.courseReviewColumn {
  padding-left: 0;
  background-color: #ffffff;
  height: 100%;
  padding: 0 24px 35px;
}

.reviewsHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #a1a1a1;
}

.sortByLabel {
  font-weight: var(--regular-weight);
  font-size: 18px;
  text-decoration-line: underline;
  color: #807b7b;
}

.sortBySelect {
  font-weight: var(--regular-weight);
  margin-left: 10px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #0076ff;
}

.pastReviews {
  flex: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  color: #807b7b;
  padding: 0 0 20px;
  margin: 0;
}

.courseReviews {
  background-color: transparent;
  width: 100%;
  overflow-y: auto;
  min-height: 500px;
}

.errorContainer {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  text-align: center;
}

.errorGauge {
  padding: 70px 0;
}

@media (min-width: 768px) {
  .classView {
    background-color: transparent;
  }

  .gaugeContainer {
    justify-content: space-around;
    padding: 30px;
  }

  .pastReviews {
    font-size: 24px;
    padding-top: 35px;
  }

  .courseReviewColumn {
    padding: 0 35px 35px;
  }
}

@media (min-width: 992px) {
  .courseInfoColumn {
    background-color: transparent;
    padding: 70px 50px 70px 70px;
    height: 100%;
  }

  .gaugeContainer {
    margin-top: 70px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .courseReviewColumn {
    background-color: transparent;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
  }
}
