.classView {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  overflow: auto;
  flex: 1;
}

.courseInfoColumn {
  background: #ffffff;
  padding: 35px 35px 0;
}

.courseTitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: var(--semi-bold-weight);
  letter-spacing: -0.13px;
  color: #000000;
}

.courseSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: var(--regular-weight);
  letter-spacing: -0.13px;
  color: #a2a1a1;
  margin: 16px 0 0 0;
}

.gaugeContainer {
  width: 100%;
  background-color: #ffffff;
  height: 150px;
  padding: 30px 5px;
  display: flex;
  justify-content: space-between;
}

.gauge {
  height: 100%;
  padding: 0 8px 0 0;
}

.courseReviewColumn {
  padding-left: 0;
  background-color: #ffffff;
  height: 100%;
  padding: 0 24px 35px;
}

.pastReviews {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  color: #807b7b;
  padding: 0 0 20px;
  margin: 0;
}

.courseReviews {
  width: 100%;
  overflow-y: auto;
}

.errorContainer {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  text-align: center;
}

.errorGauge {
  padding: 70px 0;
}

@media (min-width: 768px) {
  .gaugeContainer {
    justify-content: space-around;
  }

  .pastReviews {
    font-size: 24px;
    padding-top: 35px;
  }

  .courseReviewColumn {
    padding: 0 35px 35px;
  }
}

@media (min-width: 992px) {
  .courseInfoColumn {
    background-color: transparent;
    padding: 70px;
    height: 100%;
  }

  .gaugeContainer {
    margin-top: 70px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .courseReviewColumn {
    background-color: transparent;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
  }
}
