.coursecard-container {
  padding-left: 70px;
}

.coursecard-class-title{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  color: #000000;
}

.coursecard-class-info {
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 24px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.128928px;
  color: #A2A1A1;
  margin: 16px 0 0 0;
}

.cousecard-class-offered{
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.001em;
  color: #4A4A4A;
  margin-top: 50px;
}

.cousecard-class-link-padding{
  padding-bottom: 5px;
}