/* desktop*/
@media (min-width: 1000px) {
  .result-card {
    margin: 32px 0;
  }
}

@media (max-width: 1000px) {
  .result-card {
    margin: 16px 0;
  }

  .mdown-8 {
    margin-bottom: 8px;
  }

  .result-card-sort-by-value {
    margin: 0 0 0px;
  }
}

.result-card {
  border-radius: 10px;
  padding: 15px 24px 0px 24px;
  background-color: white;
  list-style-type: none;
}

.result-card-clicked {
  border: solid 2px #4a90e2;
}

.result-card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  line-height: normal;
  color: #0076FF;
  margin-bottom: 7px;

}

.result-card-subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: var(--regular-weight);
  font-style: normal;
  line-height: normal;
  color: #777777;
  margin-top: 0px;
  margin-bottom: 15px
}


.result-card-sort-by-text {
  margin-bottom: 20px;
}

.result-card-rating-text p {
  display: inline-block;
}

.result-card-rating-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  line-height: normal;
  color: #000000;
}

.result-card-sort-by-value {
  padding: 0 0 0 14px;
}
