@import "../../index.css";

.gaugeContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
}

.gaugeTextContainer {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: var(--regular-weight);
  line-height: normal;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 50%;
}

.gaugeCenterText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.gaugeRating {
  font-size: 30px;
}

.gaugeLabel {
  font-size: 12px;
}

.gaugeCircleContainer {
  height: 100%;
  padding-left: 8px;
}

.gaugeCircle {
  height: 100%;
  overflow: visible !important;
}

@media (min-width: 768px) {
  .gaugeRating {
    font-size: 36px;
  }

  .gaugeLabel {
    font-size: 14px;
  }

  .gaugeCircleContainer {
    padding-left: 24px;
  }
}

@media (min-width: 1200px) {
  .gaugeRating {
    font-size: 48px;
  }

  .gaugeLabel {
    font-size: 16px;
  }
}
