@media screen and (max-width: 1000px) {
  .navbar {
    height: 102px;
    padding-bottom: 21px;
  }

  .logo-container{
    display: none;
  }

  .navbar-searchbar-container{
    margin-left: 21px;
    margin-right: 29px;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    min-height: 127.43px;
  }

  .navbar-searchbar-container{
    margin-right: 120px;
  }
}

.navbar {
  width: 100%;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 2.49858px 2.49858px rgba(0, 0, 0, 0.08);
  z-index: 110;
  top: 0px;
  position: sticky;
  background: #FFFFFF;
  border: 0;
  margin: 0;
  display: flex;
}

.logo-container{
  width: 10vw;
  margin-right: 4.4vw;
  margin-left: 5vw;
}

.navbar-searchbar-container{
  width: 100%;
}

.scale-logo-navbar{
  height: 60px;
  width: auto;
}

.text-report-bug{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: var(--semi-bold-weight);
  font-size: 18px;
  text-decoration: none;
  margin-top: 12px;
  text-align: right;
  padding-right: 30px;
}
