/* Panel Styling */

/*desktop*/
@media (min-width: 1000px) {
  .preview-panel {
    padding: 40px 10% 25px 11%;
  }

  .preview-class-link {
    color: #0076FF;
    font-size: 32px;
  }

  .preview-class-title {
    margin: 0px;
  }

  .preview-class-info {
    margin-bottom: 31px;
  }

  .gaugeHolder {
    margin: 5px 0px 30px 0px;
  }

  .top-review-text {
    padding: 0 0 5px 0;
  }

  .review-holder {
    margin-left: auto;
    margin-right: auto;
  }

  .preview-review-button {
    height: 55px;
  }
}

@media (max-width: 1000px) {

  .preview-review-button {
    height: 48px;
  }

  .preview-panel {
    padding-top: 27px;
    padding-left: 35px;
    padding-right: 19px;
  }

  .preview-class-link {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.0819218px;
    color: #000000;
  }

  .preview-class-title {
    margin-bottom: 10px;
  }

  .preview-class-info {
    margin-bottom: 26px;
  }

  .gaugeHolder {
    margin: 0px 0px 32px 0px;
  }

  .top-review-text {
    padding: 0px;
  }

  .review-holder {
    margin-left: auto;
    margin-right: 15px;
  }

}

.preview-holder {
  margin-right: 2vw;
  margin-left: 20px;
}

.review-holder {
  margin-left: auto;
}

.preview-panel {
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

.preview-class-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.preview-class-info {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #A1A1A1;
}



/* Preview Review Styling */

.preview-top-review-label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #807B7B;
}



.preview-empty-top-review {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #979797;
  padding-bottom: 100px;
}

.preview-review-button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: var(--regular-weight);
  font-size: 18px;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  background: #0076FF;
  padding: 10px;
  display: inline-grid;
  align-content: space-evenly;
}

/* Gauge Styling */



.remove-left-padding {
  padding-left: 0px;
}

.left-gauge {
  text-align: left;
}

.center-gauge {
  text-align: center;
}

.right-gauge {
  text-align: right;
}

.gaugeHolder svg text:first-of-type {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px !important;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  fill: #000000 !important;
}

.gaugeHolder svg text:last-of-type {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px !important;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #000000;
}

.gaugeHolder svg {
  overflow: visible !important;
}

#gauge,
#gauge-body {
  width: 50%;
}
