@import "../../index.css";

.profileCardContainer {
  width: 267px;
  height: 89px;
  left: 124px;
  top: 530px;

  background: #f2f2f2;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 10px;
}

.profileCardCenterText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.profileCardValue {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38.1644px;
  line-height: 45px;
  text-align: center;
}

.profileCardTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11.4493px;
  line-height: 13px;

  width: 93px;
  margin-left: 5%;

  color: #000000;
}

.profileCardImage {
  margin-left: 10%;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
