.profileContainer {
  width: 360px;
  height: 742px;
  left: 87px;

  background: #ffffff;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.profileTitle {
  margin-top: 10px;
  margin-left: 37px;
  margin-bottom: 20px;

  text-align: left;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 156%;

  letter-spacing: -0.128928px;

  color: #000000;

  border-radius: 19.6611px;
}

.profileVerifiedEmail {
  margin-top: 8%;
  margin-bottom: 25px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 38%;

  display: flex;
  align-items: center;
  letter-spacing: -0.0819218px;
  text-align: center;

  color: #a2a1a1;
}

.profileUserStatisticsText {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  width: 286px;
  height: 53px;

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.128928px;

  color: #000000;

  border-radius: 19.6611px;
  margin-bottom: 20px;
}

.profileSignOutButton {
  margin-top: 35px;
  text-align: center;

  background: #0076ff;
  border-radius: 10px;

  width: 267px;
  height: 41px;
}

.profileSignOutText {
  height: 41px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #ffffff;
}

.myReviews {
  margin-right: 40px;
  margin-left: 40px;
}

.myReviewsHeader {
  margin-top: 42px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 50px;
  /* or 156% */

  letter-spacing: -0.128928px;

  color: #000000;

  border-radius: 19.6611px;
}

.myReviewsList {
}

.pendingHeader {
  margin-top: 10px;
}

.pendingHeaderText {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 11px;
  /* or 45% */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.128928px;

  /* Gray */

  color: #a2a1a1;
}

.hidePending {
  margin-right: 0px;
}

.hidePendingText {
  text-align: right;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  /* or 104% */

  letter-spacing: -0.225605px;
  text-decoration-line: underline;

  color: #0076ff;
}

.pastHeader {
  margin-top: 10px;
}

.pastHeaderText {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 11px;
  /* or 45% */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.128928px;

  /* Gray */

  color: #a2a1a1;
}
