/* Filter Sidebar Styling */

.results-column-container{
  display: flex;
}

.filter-container{
  font-family: "Source Sans Pro", sans-serif;
  padding-left: 6%;
  padding-top: 28px;
  line-height: 37px;
  min-width: 200px;
}

.filter-title{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  line-height: normal;
  align-items: center;
  text-decoration-line: underline;
  margin-bottom: 23px;
  color: #000000;
}

.filter-sub-category{
  padding-bottom: 20px;
}

.filter-sub-title{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  line-height: normal;
  align-items: center;
  color: #807B7B;
}

.filter-checkbox-label{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  line-height: normal;
  align-items: center;
  color: #000000;
  margin: 0px 0px 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.filter-entry-container{
  display: flex;
  margin: 10px 0;
}

.filter-major-disabled{
  cursor: not-allowed;
}

.react-major-select__value-container{
  line-height: 20px;
}

.react-major-select__control{
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 0 !important;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
}

.react-major-select__indicators{
  display: none !important;
}

.react-major-select__placeholder{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #807B7B !important;
}

.react-major-select__indicator-separator{
  display: none;
}

.react-major-select__dropdown-indicator{
  color: #9FCBFF !important;
  
}

.react-major-select__control--is-focused .react-major-select__dropdown-indicator{
  color: #0076FF !important;
}

.react-major-select__control--is-focused{
  border-color: #0076FF !important;
  box-shadow: none !important;

}

.react-major-select__clear-indicator{
  display: none !important;
}

/* Class Results List Styling */

.results-sort-by-container{
  display: inline-flex;
  margin-top: 10px
}

.results-sort-by-select{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  line-height: normal;
  border-color: transparent;
  border: none;
  outline: none;
  background-color: #f4f9fe;
  color: #0076FF;
}

.results-sort-by-text{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline;
  margin: 0;
  color: #807B7B;
}

.results-classes-list{
  overflow-y: scroll !important;
  height: 90%;
  padding-right: 30px;
}

.results-classes-list::-webkit-scrollbar {
  width: 8px;
  padding-right:8px;
}

.results-classes-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ECECEC;
}

.results-classes-list::-webkit-scrollbar-thumb {
  background: #807B7B;
  height: 332.25px;
  border-radius: 13.5731px;
}

.results{
  height: 90vh;
  overflow: hidden;
  padding-left: 0px;
  margin-left: 0px;
  min-width: 250px;
}

.noLeftRightMargin{
  margin-left:0;
  margin-right: 0;
}

.loading-results{
  margin-right: auto;
  margin-left: auto;
  margin-top: 20vh;
}

.loading-margin-top{
  margin-top: 52px;
}


.results-num-classes-found{
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: #000000;
  margin: 0;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}



.no-results{
  width: auto;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.no-results-text{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: var(--regular-weight);
  text-align: center;
}

ul {
  background: #f4f9fe
}

/* Class Preview Styling */

.preview{
  min-width: 500px;
  overflow: hidden;
  padding-top: 28px;
  padding-right: 8%;
  padding-left: 1.5%;
}
