/* Individual Review Styling */

.review-number-label-span {
  display: inline-flex;
  width: 56px;
}

.noLeftRightSpacing {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.review-container {
  background: #ffffff;
  border: 0.625px solid #d0e5f5;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 48px;
  /* margin-right: 25px; */
}

@media screen and (max-width: 992px) {
  .review-container {
    min-width: 327px;
    background: #ffffff;
    border: 0.625px solid #d0e5f5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 24px;
  }
  .review-number-text,
  .review-number-text-preview {
    padding-right: 4vw;
    padding-left: 2vw;
    font-weight: normal;
  }

  .review-text-label {
    padding-left: 3vw;
  }
  .review-professor-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: var(--semi-bold-weight);
    font-style: normal;
    line-height: 18px;
    display: inline;
    color: #0076ff;
  }

  .majors-element {
    text-align: right;
    display: inline;
  }

  .covidTag {
    background-color: #ffec5e;
    border-radius: 5px;
    width: 95%;
    margin-left: 0.2%;
    border-color: #ffd666;
    border-width: 3px;
    border-style: solid;
    padding: 4px;
  }

  .review-body-container {
    margin: auto;
    padding: 8px 27px 21px 28px;
  }

  .review-labels-container {
    background: #f4f9fe;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .review-professor-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: var(--semi-bold-weight);
    font-style: normal;
    line-height: 18px;
    margin: 5px 0 6px 0;
    display: inline;
    color: #a2a1a1;
  }
}

@media screen and (min-width: 992px) {
  .review-number-text,
  .review-number-text-preview {
    font-weight: bold;
    padding-left: 2vw;
  }

  .covidTag {
    background-color: #ffec5e;
    border-radius: 5px;
    width: 70%;
    margin-left: 0.2%;
    border-color: #ffd666;
    border-width: 3px;
    border-style: solid;
    padding: 4px;
  }

  .review-body-container {
    margin: auto;
    padding: 8px 50px 21px 30px;
  }

  .review-labels-container {
    min-width: 85px;
  }

  .review-professor-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: var(--semi-bold-weight);
    font-style: normal;
    line-height: 18px;
    display: inline;
  }

  .review-professor-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: var(--semi-bold-weight);
    font-style: normal;
    line-height: 18px;
    margin: 5px 0 6px 0;
    display: inline;
  }
}

.review-report {
  color: #9b9b9b;
  margin-top: 14px;
  float: right;
}

.review-report:hover {
  color: #4990e2;
}

.review-body-right-col {
  padding: 0px 0 0 5%;
}

.review-number-labels-container {
  padding: 0px;
}

.review-number-label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
}

.review-professor-container {
  margin-bottom: 8px;
}

.review-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: var(--regular-weight);
  font-style: normal;
  line-height: 19px;
  color: #000000;
  text-align: left;
  padding-bottom: 15px;
}

.review-date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: var(--regular-weight);
  color: #9b9b9b;
  padding-top: 10px;
  padding-left: 18px;
  display: inline;
}

.review-upvote,
.review-voted {
  float: right;
  color: #4990e2;
}

.upvote-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: var(--regular-weight);
  line-height: 15px;
  display: inline;
  align-items: center;
  text-align: right;
  margin-left: 5px;
  color: #807b7b;
}

.review-voted .upvote-text {
  color: #0076ff;
}

/* Preview Review Styling */

.review-body-container-preview {
  margin: auto;
  padding: 35px 30px 28px 31px;
}

.review-number-labels-container {
  padding: 0px;
}

.review-body-right-col-preview {
  padding: 0px 0 0 12%;
}

.review-number-label-preview {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: 27px;
}

.review-professor-container {
  margin-bottom: 8px;
}

.review-professor-label-preview {
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin: 5px 0 6px 0;
  display: inline;
}

.review-text-preview {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: var(--regular-weight);
  font-style: normal;
  line-height: 19px;
  color: #000000;
  text-align: left;
  padding-bottom: 15px;
}

.space-review-buttons {
  margin-left: 5px;
}

.upvote-text {
  display: inline;
}

.btn-lg {
  padding: 2px;
  font-size: 12px;
  padding-left: 65%;
}

.glyphicon {
  display: inline;
}

.showMoreText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: var(--semi-bold-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;

  color: #0076ff;
}

button {
  background-color: #ffffff;
  border: none;
}
