
/* General Structure */
.reviewContainer {
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;

    margin-bottom: 22px;
    padding: 8px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #000000;
}

.flagContainer {
    width: 100%;
    color: #9b9b9b;
    text-align: right;
}

.ratingsContainer {

    font-size: 14px;
    line-height: 18px;
}

@media (max-width: 768px) {
    .ratingsContainer {
        display: flex;
        justify-content: space-between;
    }
}

.ratingElem {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.ratingNum {
    float: right;

    font-weight: 600;
}

@media (min-width: 768px) {
    .contentContainer {
        padding-right: 30px;
    }
}

.courseTitle {
    margin-bottom: 0px;

    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.courseCodeAndProf {
    font-size: 12px;
    line-height: 15px;
    color: #A2A1A1;
}

.professors {
    font-weight: var(--semi-bold-weight);
}

.reviewText {
    font-size: 15px;
    line-height: 19px;
}

.date {
    font-size: 12px;
    line-height: 15px;

    color: #9B9B9B;
}