
/* General Structure */
.reviewContainer {
    box-sizing: border-box;
    border-radius: 10px;

    margin-bottom: 22px;
    padding: 8px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.reviewContainerStyle {
    background: #FFFFFF;
    border: 0.625px solid #B7D8FF;

    /* text */
    color: #000000;
}

.reviewContainerStylePending {
    background: #F9F9F9;
    border: 1px dashed #979797;

    color: #979797;
}

.flagContainer {
    width: 100%;
    color: #9b9b9b;
    text-align: right;
}

.ratingsContainer {
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 768px) {
    .ratingsContainer {
        background: #f4f9fe;
    }

    .ratingsContainer {
        display: flex;
        justify-content: space-between;
    }
}

.ratingElem {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ratingNum {
    float: right;

    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .contentContainer {
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .contentContainer {
        margin-top: 20px;
    }
}

.contentContainer {
    margin-top: 10px;
}

.courseTitle {
    margin-bottom: 0px;

    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.courseCodeAndProf {
    font-size: 12px;
    line-height: 15px;
    color: #A2A1A1;
}

.professors {
    font-weight: var(--semi-bold-weight);
}

.reviewText {
    font-size: 15px;
    line-height: 19px;
}

.date {
    font-size: 12px;
    line-height: 15px;

    color: #9B9B9B;
}

.upvoteText {
    font-size: 12px;
    line-height: 15px;
    display: inline;
    align-items: center;
    text-align: right;
    color: #807b7b;
  }

@media screen and (max-width: 992px) {
    .covidTag {
        background-color: #ffec5e;
        border-radius: 5px;
        width: 95%;
        margin-left: 0.2%;
        border-color: #ffd666;
        border-width: 3px;
        border-style: solid;
        padding: 4px;
      }
}

@media screen and (min-width: 992px) {
    .covidTag {
        background-color: #ffec5e;
        border-radius: 5px;
        width: 70%;
        margin-left: 0.2%;
        border-color: #ffd666;
        border-width: 3px;
        border-style: solid;
        padding: 4px;
      }
}