/* Searchbar Normal (Non-Popup) */

@media screen and (max-width: 1000px) {
  .searchbar {
    height: 42px;
  }

  .searchbar-in-navbar {
    height: 42px;
    margin-left: 21px;
    margin-right: 29px;
  }

  .search-text{
    padding-left: 45px;
  }
}

@media screen and (min-width: 1000px) {

  .searchbar {
    height: 40px;
  }

  .searchbar-in-navbar {
    height: 52px;
  }

  .search-text{
    padding-left: 40px;
  }
}

.searchbar {
  background-color: transparent;
  display: inline-block;
  padding: 0;
  position: relative;
  outline: 0;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.searchbar-in-navbar {
  border: 1.24929px solid #ECECEC;
  box-shadow: none;
}

.search-text{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  letter-spacing: 0.01em;
  color: #000000;
  background-color: white;
  border-color: transparent;
  border-radius: 10px;
  cursor: text;
  text-align: left;
  width: 100%;
  height: 100%;
  background-image: url(/magnifying_glass.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  background-size: 17px;
  outline: 0;
  position: relative;
  z-index: 1002;
}

.search-text::placeholder{
  color: #C9C9C9;
  font-weight: var(--regular-weight);
}

.output {
  background: transparent;
  cursor: pointer;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1001;
  border-radius: 0 0 10px 10px;
  margin-top: -5px;
}

/* Selects all 'output' class objects that are decendents
    of 'contrasting-result-background' class .
    Used to add background contrasting color to searchbar
    search results */
.contrasting-result-background .output {
  border-style: solid;
  border-color: #6ba7ec;
  border-width:  0 1px 1px 1px;
}
