 .search-results-text {
   font-family: Source Sans Pro;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 23px;
   color: #0076FF;
   padding-top: 54px;
   padding-left: 36px;
 }
