/* desktop*/
@media (min-width: 992px) {
  .result-card {
    margin: 32px 0;
  }

  .result-card-clicked {
    border: solid 2px #4a90e2;
  }
}

@media (max-width: 992px) {
  .result-card {
    margin: 16px 0;
  }

  .mdown-8 {
    margin-bottom: 8px;
  }

  .result-card-sort-by-value {
    margin: 0 0 0px;
  }

  .overall-rating-border {
    display: inline-flex;
    border: 1px solid #b7d8ff;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #f4f9fe;
  }

  .out-of-five {
    padding-right: 16px;
  }

  .result-card-clicked {
    border: 2.49858px solid #0076ff;
  }
}

.result-card {
  border-radius: 10px;
  padding: 15px 24px 0px 24px;
  background-color: white;
  list-style-type: none;
}
