/* Classview Layout Styling */

.container-top-gap-fix {
  padding-top: 0 !important;
  padding: 0;
}

.no-padding {
  padding: 0 !important;
}

.navbar-margin {
  margin-top: 5px;
}

.classview-column-container {
  display: flex;
}

.classview-right-panel {
  padding: 0 5vw 0 5vw;
  overflow: hidden;
  min-width: 320px;
  width: 100%;
}

.classview-gauge-container {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px 15px 30px 0;
  height: 150px;
}

.classview-gauge {
  height: 100%;
}

@media (min-width: 1200px) {
  .classview-gauge {
    height: 100%;
  }
}

.classview-reviews-container {
  margin-right: 0;
  margin-top: 30px;
  margin-left: 0;
}

.classview-loading {
  padding-top: 300px;
}

.classview-coursecard-min-width {
  min-width: 530px;
  display: flex;
}

.errorgauge {
  margin: 9vh auto 7vh auto;
  display: flex;
}

.error-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
}

.animate-form {
  transition-property: bottom; /*NOTE: this only animates movement*/
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition-delay: 0s;
}
