/* Form Main Component Styling */

/* mobile */

@media (min-width: 992px) {
}

@media (max-width: 992px) {
}

.mobile-form-container {
  background-color: var(--clr-white);
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid var(--clr-gray-100);
  z-index: 200;
  overflow: scroll;
}

.X-button {
  background-color: Transparent;
  background-image: url('/X.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
  border-radius: 0px;
  padding: auto;
  margin: 24px 0px 0px 18px;
}

/* desktop */

.covidCheckboxContainer {
  margin-top: 15px;
}

@media (min-width: 992px) {
  .covidCheckboxInput {
    margin-left: 10px !important;
  }
}

@media (max-width: 992px) {
  .covidCheckboxInput {
    margin-right: 7px !important;
    margin-top: 0px !important;
  }
}

.covidCheckboxLabel {
  position: relative;
  vertical-align: middle;
  bottom: 0px;
}

@media (max-width: 992px) {
  .covidCheckboxLabel {
    bottom: 0px;
  }
}

.form-menu {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100%;
  background: var(--clr-white);
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .form {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 100px;
  }
}

@media (max-width: 992px) {
  .form {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 0px;
    margin-bottom: 39px;
  }
}

.form-header-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--clr-blue-400);
  margin-bottom: 25px;
  text-align: left;
}

@media (max-width: 992px) {
  .form-header-text {
    font-family: Source Sans Pro;
    font-size: 28px;
    line-height: 35px;
    color: var(--clr-black);
  }
}

.form-textbox-row {
  padding-left: 13px;
  padding-right: 13px;
}

@media (max-width: 992px) {
  .form-textbox-row {
    padding-top: 23px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.form-input-text {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: var(--regular-weight);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: var(--clr-gray-500);
  background-color: transparent;
  border: 0.673729px solid var(--clr-blue-300);
  box-sizing: border-box;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .form-input-text {
    height: 200px;
  }
}

.form-field-error {
  color: var(--clr-red-200);
}

.form-label {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: var(--regular-weight);

  color: var(--clr-black);
}

@media (min-width: 992px) {
  .form-label {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .form-label {
    font-family: Source Sans Pro;
    font-size: 16px;
    line-height: 20px;
    padding-left: 2px;
  }
}

.form-professor-label {
  padding-top: 0px;
}

@media (max-width: 992px) {
  .form-professor-label {
    padding-left: 2px;
  }
}

.form-postbutton {
  width: 100%;
  height: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 0px;
  align-items: center;
  text-align: center;
  background: var(--clr-blue-400);
  color: var(--clr-white);
  border-radius: 6.73729px;
  border-width: 0px;
  margin-bottom: 5vh;
}

@media (max-width: 992px) {
  .form-postbutton {
    height: 46px;

    background: var(--clr-blue-400);
    border-radius: 5.65207px;
  }
}

.form-bottom-row-spacing {
  margin-bottom: 27px;
}

.form-bottom-row-spacing2 {
  margin-bottom: 20px;
}

.form-button-top-bottom-spacing {
  padding-top: 15px;
}

/* Form Select Styling */

.form-select-alignment {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 70% !important;
}

.react-select-container {
  width: 100%;
}

@media (max-width: 992px) {
  .react-select-container {
    height: 26px;
  }
}

/* Leaving these useful properties of "react-select"
    for future modifications:
    __value-container

    */

.react-select__control {
  width: 100% !important;
  max-height: 90px !important;
  min-height: 28px !important;
  border-color: var(--clr-blue-200) !important;
  border-radius: 7px !important;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__dropdown-indicator {
  color: var(--clr-blue-200) !important;
}

.react-select__control--is-focused .react-select__dropdown-indicator {
  color: var(--clr-blue-400) !important;
}

.react-select__control--is-focused {
  border-color: var(--clr-blue-400) !important;
  box-shadow: none !important;
}

.react-select__clear-indicator {
  display: none !important;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 13px;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--clr-blue-300);
  border-radius: 15px;
  height: 6.4px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--clr-black);
  border: 2px solid var(--clr-black);
  border-radius: 100%;
  box-shadow: 0px 1px 2px 0px var(--clr-black);
  cursor: pointer;
  position: relative;
  bottom: 5px; /* Used to fix spacing */
  height: 17px;
  opacity: 1;
  width: 17px;
}

input[type='submit'] {
  background-color: var(--clr-blue-300);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  height: 40px;
  text-align: center;
  width: 100px;
}
input[type='submit']:active {
  background-color: var(--clr-blue-400);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  height: 40px;
  text-align: center;
  width: 100px;
}

textarea {
  height: 96px;
  width: 100%;
  resize: none;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  border: 1px solid var(--clr-gray-500);
}

.mobile-textarea {
  height: 200px;
}

.rating-icon {
  background: var(--clr-black);
  border-radius: 10%;
  height: 33px;
  width: 35px;
  justify-content: center;
}

#sm1,
#sm2 {
  align-items: center;
  color: var(--clr-white);
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

#sm1 {
  background-color: var(--clr-green-200);
}

#sm2 {
  background-color: var(--clr-red-200);
}

.sliderHolder {
  padding-left: 10%;
}

input[type='range'] {
  width: 100%;
}

.error,
.error:focus {
  border: 1px solid var(--clr-red-200) !important;
  outline: 1px solid var(--clr-red-200);
}

.hidden {
  display: none;
}

.noLeftRightMargin {
  margin-right: 0;
  margin-left: 0;
}

.modalForm {
  z-index: 1009;
}

#modal-top {
  height: 35%;
  padding-top: 15px;
  z-index: 1008;
  box-shadow: 0 2px 3.5px 0 rgba(231, 231, 231, 0.83);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--clr-white);
}

#modal-background {
  height: 100%;
  background-color: rgba(247, 247, 247, 0.98);
}

#modal-title {
  margin-top: 5%;
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: var(--clr-blue-300);
}

#modal-text {
  /* width: 399px; */
  /* height: 109px; */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--clr-gray-500);
}

#modal-footer {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--clr-gray-300);
}

.scale-logo-modal {
  width: auto;
  max-height: 50%;
}

.rodal-dialog {
  padding: 0;
}

.metricBox {
  width: 48.75px;
  height: 7.5px;
  border-radius: 3.36864px;
  vertical-align: top;
  padding: 0;
  margin: auto;
}

.metricBoxWrapper {
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin-left: 5px;
  margin-top: 8px;
}

.metricBoxWrapper p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  text-align: center;
  height: 10px;
}

.metricDescR,
.metricDescL {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--clr-gray-300);
}

@media (max-width: 992px) {
  .metricDescR,
  .metricDescL {
    font-family: Source Sans Pro;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    padding-left: 22vw;
  }
}

.metricDescR {
  float: right;
}

.metricDescL {
  float: left;
}

.textSpacing {
  padding-left: 95px;
  padding-right: 17px;
}

.activeBox {
  background: var(--clr-blue-400) !important;
}

@media (min-width: 992px) {
  .inactiveBox {
    background: var(--clr-gray-300) !important;
  }
}

@media (max-width: 992px) {
  .inactiveBox {
    height: 12px;
    width: 12vw;
    background: var(--clr-gray-100);
    border-radius: 2.82603px;
  }

  .activeBox {
    height: 12px;
    width: 12vw;
    border-radius: 2.82603px;
  }
}

.inactiveText {
  color: var(--clr-gray-300);
}

.activeText {
  color: var(--clr-blue-400);
}

.activeText,
.inactiveText {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
}

@media (max-width: 992px) {
  .inactiveText,
  .activeText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}
