.card {
  background: var(--clr-gray-100);
  border-radius: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;

  gap: 16px;

  max-width: 300px;

  margin: 0 auto;
}

@media (max-width: 968px) {
  .container {
    padding: 12px 0px;
    justify-content: center;
  }
}

.description {
  width: fit-content;
  font-size: 0.85em;
}

.count {
  font-weight: 600;
  font-size: 2.5em;
}

.img {
  max-width: 50px;
  height: auto;
}
