@import '../../../../src/index.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.profileCardContainer {
  width: 267px;
  height: 89px;
  left: 124px;
  top: 530px;

  background: var(--clr-gray-100);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 10px;
}

.profileCardCenterText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.profileCardValue {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38.1644px;
  line-height: 45px;
  text-align: center;
}

.profileCardTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11.4493px;
  line-height: 13px;
  text-align: left;

  width: 93px;
  margin-left: 5%;

  color: var(--clr-black);
}

.profileCardImage {
  margin-left: 10%;
}

@media (max-width: 480px) {
  .profileCardContainer {
    background: transparent;
    margin-right: 4rem;
    margin-left: 1rem;
  }

  .profileCardCenterText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    top: 1.5rem;
  }

  .profileCardValue {
    position: relative;
    right: 2rem;
  }

  .profileCardTitle {
    margin-top: 1rem;
    width: 7rem;
    position: relative;
  }

  .profileCardImage {
    position: relative;
    bottom: 4.7rem;
    margin-left: 4rem;
  }
}
