@import '../../../../src/index.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.profileCardContainer {
  font-size: var(--font-sub-heading-size);

  background: var(--clr-gray-100);
  border-radius: 10px;

  display: flex;
  flex-direction: row;

  padding: 1em 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1em;
}

.profileCardValue {
  font-weight: var(--bold-weight);
  font-size: var(--font-heading-size);
  text-align: center;
  width: 1ch;
}

.profileCardTitle {
  font-weight: var(--regular-weight);
  font-size: var(--font-p-size);
  text-align: left;
  width: 15ch;

  color: var(--clr-black);
}

@media (max-width: 480px) {
  .profileCardContainer {
    background: transparent;
    margin-right: 4rem;
    margin-left: 1rem;
  }

  .profileCardValue {
    position: relative;
    right: 2rem;
  }

  .profileCardTitle {
    margin-top: 1rem;
    width: 7rem;
    position: relative;
  }

  .profileCardImage {
    position: relative;
    bottom: 4.7rem;
    margin-left: 4rem;
  }
}
