/* Filter Sidebar Styling */

.results-column-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--clr-blue-100);
  padding-bottom: 2%;
}

.filter-container {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 37px;
}

.filter-title {
  font-style: normal;
  color: var(--clr-black);
  align-items: center;
  margin-bottom: 23px;
}

.filter-sub-category {
  padding-bottom: 20px;
}

.filter-sub-title {
  font-style: normal;
  align-items: center;
  color: var(--clr-gray-300);
}

.filter-checkbox-label {
  font-style: normal;
  color: var(--clr-black);
  margin: 0px 0px 0px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter-entry-container {
  display: flex;
}

.filter-checkbox {
  margin-right: 8px;
}

@media (min-width: 992px) {
  .filter-container {
    padding-left: 6%;
    padding-top: 28px;
    min-width: 200px;
  }

  .filter-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: var(--semi-bold-weight);
    line-height: normal;
    text-decoration-line: underline;
  }

  .filter-sub-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: var(--semi-bold-weight);
    line-height: normal;
  }

  .filter-checkbox-label {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: var(--regular-weight);
    line-height: normal;
    align-items: center;
    overflow: hidden;
  }

  .filter-entry-container {
    margin: 10px 0;
  }
}

@media (max-width: 992px) {
  .filter-container {
    margin-top: 36px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .filter-title {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    padding-top: 44px;
    padding-left: 15px;
  }

  .filter-sub-title {
    height: 22px;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    letter-spacing: -0.104749px;
  }

  .filter-checkbox-label {
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.104749px;
  }

  .filter-entry-container {
    padding: 10.5px 0;
  }
}

.outline {
  outline-style: solid;
}

.results-buttons {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.noPadding {
  padding: 0px;
}

.mobile-filter-box {
  padding: 26px 18px 0px 18px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: white;
  border: 1px solid var(--clr-gray-100);
  box-sizing: border-box;
  border-radius: 10px;
}

.mobile-filter-button {
  border: 1px solid var(--clr-blue-400);
  background-color: Transparent;
  background-image: url('/filterIcon.svg');
  background-repeat: no-repeat;
  background-position: 16px 9px;
  padding-left: 35px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  border-radius: 10px;

  float: right;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: -0.225605px;
  color: var(--clr-blue-400);
}

.mobile-filter-done-button {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.0756154px;
  border: none;
  background: none;
  float: right;
  color: var(--clr-blue-400);
}

.filter-popup {
  background-color: var(--clr-white);
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid var(--clr-gray-100);
  z-index: 200;
}

.filter-major-disabled {
  cursor: not-allowed;
}

.react-major-select__value-container {
  line-height: 20px;
}

.react-major-select__control {
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 0 !important;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
}

.react-major-select__indicators {
  display: none !important;
}

.react-major-select__placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--clr-gray-300) !important;
}

.react-major-select__indicator-separator {
  display: none;
}

.react-major-select__dropdown-indicator {
  color: var(--clr-blue-200) !important;
}

.react-major-select__control--is-focused
  .react-major-select__dropdown-indicator {
  color: var(--clr-blue-400) !important;
}

.react-major-select__control--is-focused {
  border-color: var(--clr-blue-400) !important;
  box-shadow: none !important;
}

.react-major-select__clear-indicator {
  display: none !important;
}

/* Class Results List Styling */

.results-sort-by-select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  line-height: normal;
  border-color: transparent;
  border: none;
  outline: none;
  background-color: var(--clr-blue-100);
  color: var(--clr-blue-400);
}

@media (max-width: 992px) {
  .results-sort-by-select {
    text-decoration-line: underline;
  }
}

.results-sort-by-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline;
  margin: 0;
  color: var(--clr-gray-300);
}

.results-classes-list {
  overflow-y: scroll !important;
  height: 90%;
}

/* desktop*/
@media (min-width: 992px) {
  .results-sort-by-container {
    margin-top: 10px;
    padding-bottom: 8px;
  }

  .results-classes-list {
    padding-right: 30px;
  }
}

@media (max-width: 992px) {
  .search-results-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: var(--clr-blue-400);
    padding-top: 54px;
    padding-left: 36px;
  }

  .results-sort-by-container {
    margin-top: 25px;
  }

  .results-classes-list {
    padding-right: 0px;
  }

  .mobile-search-gradient {
    background: linear-gradient(
      180deg,
      var(--clr-blue-100) 0%,
      var(--clr-white) 50%
    );
  }

  .button-position-search-results {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
  }

  .review-bottom-button {
    width: 100%;
    height: 47px;
    background: var(--clr-blue-400);
    border-radius: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    color: var(--clr-white);
  }
}

.fullscreen {
  top: 0px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  z-index: 111;
  background-color: white;
}

.results {
  height: 90vh;
  overflow: hidden;
  min-width: 250px;
}

.noLeftRightMargin {
  margin-left: 0;
  margin-right: 0;
}

.loading-results {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20vh;
}

/* desktop*/
@media (min-width: 992px) {
  .loading-margin-top {
    margin-top: 52px;
  }
}

@media (max-width: 992px) {
  .loading-margin-top {
    margin-top: 44px;
  }
}

.results-num-classes-found {
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.001em;
  color: var(--clr-black);
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.no-results {
  width: auto;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.no-results-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: var(--regular-weight);
  text-align: center;
}

ul {
  background: var(--clr-blue-100);
}

/* Class Preview Styling */

.preview {
  min-width: 500px;
  overflow: hidden;
  padding-top: 28px;
  padding-right: 8%;
  padding-left: 1.5%;
}
