.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 2em;
  background: var(--clr-white);
  border-radius: 10px;
}

.profileTitle {
  text-align: left;
  font-weight: var(--semi-bold-weight);
  font-size: var(--font-heading-size);
  color: var(--clr-black);
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.profileUserStatistics {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profileImage {
  max-width: 140px;
}

.profileVerifiedNeId {
  text-align: center;
  color: var(--clr-gray-300);
}

.profileUserStatisticsText {
  font-weight: var(--semi-bold-weight);
  font-size: var(--font-sub-heading-size);

  color: var(--clr-black);
}

.profileSignOutButton {
  background: var(--clr-blue-400);
  border-radius: 10px;
  padding: 1em 0em;
}

.profileSignOutText {
  font-weight: var(--semi-bold-weight);
  font-size: var(--font-sub-heading-size);

  justify-content: center;
  margin: 0;
  color: var(--clr-white);
}

@media (min-width: 481px) and (max-width: 1000px) {
  .profileContainer {
    width: 85%;
    height: 80%;
  }
}

@media (max-width: 480px) {
  .profileContainer {
    width: 100%;
    height: 10rem;
    padding-bottom: 20px;
    left: 0px;
    border-radius: 0px;
    background-color: transparent;
    display: flex;
  }

  .profileTitle,
  .profileInfo {
    display: inline-block;
    width: 15%;
    margin-right: 8rem;
  }

  .profileTitle {
    margin-top: 10px;
    margin-left: 1.7rem;
    margin-bottom: 20px;

    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 156%;

    letter-spacing: -0.128928px;

    color: var(--clr-black);

    border-radius: 0px;

    white-space: nowrap;
  }

  .profileInfo {
    position: relative;
    left: 0rem;
  }

  .profileImage {
    margin-top: 1rem;
    margin-left: 5.5rem;
    width: 2.5rem;
  }

  .profileVerifiedNeId {
    position: relative;
    left: -11.65rem;
    top: -0.5rem;
    font-size: 0.8rem;
    color: var(--clr-gray-500);
  }

  .profileUserStatisticsText {
    display: none;
  }

  .profileUserStatistics {
    margin-right: 3.5rem;
    display: flex;
    justify-content: space-evenly;
  }

  .divider {
    display: inline;
    content: '';
    border-left: 1px solid var(--clr-gray-200);
    height: 6rem;
    position: relative;
    right: 0.9rem;
  }

  .profileSignOutButton {
    display: none;
  }
}
