@media screen and (max-width: 992px) {
  .navbar {
    height: 102px;
    padding-bottom: 21px;
  }

  .logo-container {
    width: 100%;
  }

  .navbar-searchbar-container {
    margin-left: 21px;
    margin-right: 150px;
  }

  .navbar-searchbar-container-profile {
    width: 100%;
    margin-right: 12%;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    min-height: 127.43px;
  }

  .navbar-searchbar-container {
    margin-right: 220px;
  }

  .navbar-searchbar-container-profile {
    width: 100%;
    margin-right: 15%;
  }
}

.custom-navbar {
  width: 100%;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  box-shadow: 0px 2.49858px 2.49858px rgba(0, 0, 0, 0.08);
  z-index: 110;
  top: 0px;
  position: sticky;
  background: #ffffff;
  border: 0;
  margin: 0;
  display: flex;
}

.logo-container {
  width: 6vw;
  margin-right: 4.4vw;
  margin-left: 5vw;
}

.navbar-searchbar-container {
  width: 100%;
}

.scale-logo-navbar {
  height: 60px;
  width: auto;
}

.text-report-bug {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: var(--semi-bold-weight);
  font-size: 18px;
  text-decoration: none;
  margin-top: 12px;
  text-align: right;
  padding-right: 30px;

}

@media (max-width: 480px) {
  .custom-navbar {
    width: 100%;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    box-shadow: none;
    z-index: 110;
    top: 0px;
    position: relative;
    background: transparent;
    border: 0;
    margin: 0;
    display: flex;
  }

  .logo-container {
    width: 14vw;
    padding-top: 1vw;
    margin-right: 4vw;
    margin-left: 5vw;
  }

  .navbar-searchbar-container {
    margin-left: 0rem;
    width: 100vw;
  }
}

