.profileMenuContainer {
  margin-top: 0;
  margin-right: 36px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.profileBear {
  width: 53px;
  height: 53px;
}

.profileMenuCard {
  background-color: white;
  position: absolute;
  right: 0;
  width: 10em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 1.5em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.profileMenuLink {
  display: block;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1rem;
}

.profileMenuLink:hover {
  color: var(--clr-blue-800);
}

.signInButton {
  position: absolute;
  right: 2em;
  text-align: center;
  width: 9em;
  background: var(--clr-white);
  border-radius: 10px;
  margin-top: 0.5em;

  padding: 0.5em;

  font-style: normal;
  font-weight: 600;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
}

.profileMenuSignOutButton {
  position: relative;
  text-align: center;
  width: 100%;
  background: var(--clr-blue-800);
  border-radius: 10px;

  padding: 5px;

  font-weight: 600;
  font-size: 1rem;
  color: var(--clr-white);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .signOutButtonContainer {
    position: relative;
  }
  .signInButton {
    top: 3em;
    margin: 0;
    right: 1em;
    font-size: 1rem;
  }

  .profileMenuCard {
    border-radius: 5px;
    padding: 20px;
    gap: 0;
    padding-bottom: 40px;
  }

  .profileMenuSignOutButton {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 13px;
  }
}
