.signinbutton {
  background-color: var(--clr-gray-200);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  width: 100px;

  font-weight: 600;
}

.profile {
  width: 100%;
  max-width: 40px;

  position: relative;
}

/* img */
.bear {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 50%;
  cursor: pointer;
}

.profiledropdown {
  position: absolute;
  top: 70px;
  right: 0;
  min-width: 200px;
  height: 200px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));
  background-color: #fff;
  border-radius: 5px;

  padding: 12px 0;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: 8px;
}

.option {
  width: 100%;
  padding: 4px 16px;
  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.option:hover,
.option > button:hover {
  background-color: var(--clr-gray-200);
  color: var(--clr-blue-400);
  font-weight: 500;

  & .optionimg {
    width: 15px;
  }
}

/* make our Sign Out button look interactive.  */
.option > button {
  cursor: pointer;
}

/* make most of the "my reviews" clickable */
.option > a {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.optionimg {
  width: 14px;
  height: auto;
}
