@import '../../../index.css';

.classView {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.reviewContentHeader {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding: 0 3%;
  background-color: var(--clr-blue-100) !important;
}

@media only screen and (min-width: 1008px) {
  .content {
    padding: 0 5%;
    background: transparent;
  }
}

.reviewContent {
  padding-right: 10%;
  padding-left: 10%;
  background-color: var(--clr-blue-100) !important;
}

.authModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-white);
  padding: 20px;
}

.modalOverlay {
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 200;
}

.reviewModal {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: var(--clr-white);
  padding: 20px;
  border-radius: 20px;
  filter: drop-shadow(0 1px 6px rgba(168, 211, 245, 0.5));
  overflow: auto;
}

.authModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-white);
  padding: 20px;
}

.courseInfoColumn {
  padding: 50px 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.courseInfoColumnShadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.courseTitle {
  font-size: var(--font-heading-size);
  font-weight: var(--semi-bold-weight);
  letter-spacing: -0.13px;
  color: var(--clr-black);
}

.courseSubtitle {
  font-size: 18px;
  font-weight: var(--regular-weight);
  letter-spacing: -0.13px;
  color: var(--clr-gray-300);
  margin: 16px 0 0 0;
}

.ratingMobileBox {
  display: none;
  justify-content: space-between;
  /* margin: 20px 0; */
  border: 2px solid var(--clr-blue-200);
  border-radius: 5px;
  /* padding: 2px 10px; */
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.reviewFormContainer {
  margin-top: 30px;
  border-radius: 10px;
  background-color: var(--clr-white);
  padding: 20px;
  position: sticky;
  top: 10px;
}

.gaugeContainer {
  width: 100%;
  background-color: var(--clr-white);
  height: 150px;

  display: flex;
  justify-content: space-between;
}

.gauge {
  min-height: 100%;
  padding: 0 0px 0 0;
}

.startReviewButton {
  background-color: var(--clr-blue-400);
  color: var(--clr-white);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 11px 10px;
}

.startReviewButton:hover {
  background-color: var(--clr-blue-500);
  color: var(--clr-white) !important;
}

.fixedButtonContainer {
  position: fixed;
  bottom: 2%;
  right: 0;
  margin: 0 30px;
  z-index: 100;
  filter: drop-shadow(0 1px 6px rgba(0, 0, 0, 0.5));
}

.courseReviewColumn {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  padding-bottom: 20px;
}

.reviewsHeader {
  display: flex;
  align-items: center;
}

.sortByContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.sortByLabel {
  font-size: 1.25rem;
  text-decoration-line: underline;
  color: var(--clr-gray-300);
  display: flex;
}

.sortBySelect {
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
  color: var(--clr-blue-400);
}

.pastReviews {
  flex: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight);
  color: var(--clr-gray-300);
  padding: 0 0 20px;
  margin: 0;
}

.courseReviews {
  background-color: transparent;
  width: 100%;
}

.errorContainer {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  text-align: center;
}

.errorGauge {
  padding: 70px 0;
}

@media (min-width: 768px) {
  .courseSubtitle {
    font-size: var(--font-sub-heading-size);
  }

  .authModal {
    margin: auto;
    height: 500px;
    width: 480px;
    border-radius: 10px;
  }

  .reviewModal {
    margin: auto;
    height: fit-content;
    max-height: 90%;
    width: 90%;
    border-radius: 10px;
    overflow: auto;
  }

  .modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .classView {
    background-color: transparent;
  }

  .gaugeContainer {
    justify-content: space-around;
    padding: 30px;
    background-color: var(--clr-white);
    width: 100%;
  }

  .pastReviews {
    font-size: var(--font-sub-heading-size);
    padding-top: 35px;
  }

  .courseReviewColumn {
    padding: 0 35px 35px;
  }
}

@media (min-width: 992px) {
  .courseInfoColumn {
    background-color: transparent;
    padding: 50px 10px;
    height: 100%;
  }

  .courseInfoColumnShadow {
    box-shadow: 0 0 var(--clr-black);
  }

  .gaugeContainer {
    margin-top: 70px;
    border-radius: 10px;
    background-color: var(--clr-white);
  }

  .courseReviewColumn {
    background-color: transparent;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
  }

  .reviewModal {
    width: 70%;
  }
}
