@import '../../../index.css';

.container {
  /* background: pink; */
  display: flex;
  flex-direction: row;
  max-width: 160px;
  height: 80px;
}

.textcolumn {
  font-weight: var(--regular-weight);
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 70px;

  text-align: center;
}

.rating {
  font-size: 2rem;
}

.label {
  font-size: var(--font-small-size);
}

.circle {
  height: 80px;
  width: 100px;
  padding: 0 5px;
}

.gaugeCircle {
  height: 100%;
}

@media only screen and (max-width: 510px) {
  .rating {
    font-size: 1.5rem;
  }

  .label {
    font-size: 10px;
  }

  .circle {
    height: 80px;
    width: 55px;
  }
}
