/* General Structure */
.reviewContainer {
  box-sizing: border-box;
  border-radius: 10px;

  margin-bottom: 22px;
  padding: 8px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: var(--regular-weight);
  font-size: var(--font-p-size);
  line-height: 18px;
}

.buttonContainer {
  display: flex;
  padding: 0.5em 1em 0em;
}

.reviewMainSectionContainer {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
}

.reviewContainerStyle {
  background: var(--clr-white);
  border: 0.625px solid var(--clr-blue-200);

  /* text */
  color: var(--clr-black);
}

.reviewContainerStylePending {
  background: var(--clr-gray-100);
  border: 1px dashed var(--clr-gray-300);

  color: var(--clr-gray-300);
}

.pencilContainer {
  width: 100%;
  color: var(--clr-gray-300);
  text-align: right;
}

.ratingsContainer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.ratingsContainerColor {
  background: var(--clr-white);
}

.pendingRatingsContainerColor {
  background-color: var(--clr-gray-100);
}

@media screen and (max-width: 768px) {
  .ratingsContainerColor {
    background: var(--clr-blue-100);
  }

  .pendingRatingsContainerColor {
    background: var(--clr-gray-100);
  }

  .ratingsContainer {
    display: flex;
    justify-content: space-between;
  }
}

.ratingsSection {
  display: flex;
  align-items: center;
  margin: 0em auto;
}

.ratingElem {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: start;
  justify-content: space-between;
  font-size: var(--font-p-size);
}

.ratingNum {
  font-weight: 600;
}

.contentContainer {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.courseTitle {
  margin-bottom: 0px;

  font-weight: 600;
  font-size: var(--font-medium-size);
  line-height: 23px;
}

.courseCodeAndProf {
  font-size: var(--font-small-size);
  line-height: 15px;
  color: var(--clr-gray-300);
}

.professors {
  font-size: var(--font-p-size);
  font-weight: var(--bold-weight);
  margin: 0;
}

.gradeMajorContainer {
  display: flex;
  gap: 10em;
}

.gradeMajorText {
  font-weight: var(--bold-weight);
}

.reviewText {
  font-size: 15px;
  line-height: 19px;
}

.date {
  font-size: var(--font-small-size);
  line-height: 15px;

  color: var(--clr-gray-300);
}

.upvoteText {
  font-size: var(--font-small-size);
  line-height: 15px;
  display: inline;
  align-items: center;
  text-align: right;
  color: var(--clr-gray-300);
}

@media (min-width: 768px) and (max-width: 1000px) {
  .reviewContainer {
    width: 100%;
  }

  .ratingsContainer {
    width: 95%;
    position: relative;
    background-color: var(--clr-white);
    top: 4vh;
    left: 6vw;
  }

  .ratingsContainerColor {
    background: var(--clr-white);
  }

  .pendingRatingsContainerColor {
    background-color: var(--clr-gray-100);
  }

  .ratingNum {
    float: none;
    margin-left: 0.2rem;
  }
}

@media screen and (max-width: 768px) {
  .ratingsContainerColor {
    background: var(--clr-white);
  }

  .pendingRatingsContainerColor {
    background-color: var(--clr-gray-100);
  }

  .ratingsContainer {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .contentContainer {
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .contentContainer {
    position: relative;
    top: -7vh;
  }

  .reviewContainer {
    width: 100%;
  }

  .ratingsContainer {
    width: 95%;
    position: relative;
    background-color: var(--clr-white);
    top: 7vh;
    left: 1.2vw;
  }

  .pendingRatingsContainerColor {
    background-color: var(--clr-gray-100);
  }

  .ratingNum {
    float: none;
    margin-left: 0.2rem;
  }

  .reviewText {
    position: relative;
    top: 3vh;
  }

  .date {
    position: relative;
    top: 8vh;
  }

  .helpful {
    position: relative;
    top: 7vh;
  }
}

@media screen and (max-width: 992px) {
  .covidTag {
    background-color: var(--clr-yellow-100);
    border-radius: 5px;
    width: 95%;
    margin-left: 0.2%;
    border-color: var(--clr-yellow-200);
    border-width: 3px;
    border-style: solid;
    padding: 4px;
  }
}

@media screen and (min-width: 992px) {
  .covidTag {
    background-color: var(--clr-yellow-100);
    border-radius: 5px;
    width: 70%;
    margin-left: 0.2%;
    border-color: var(--clr-yellow-200);
    border-width: 3px;
    border-style: solid;
    padding: 4px;
  }
}

@media (max-width: 480px) {
  .reviewContainer {
    box-sizing: border-box;
    border-radius: 10px;

    margin-bottom: 22px;
    padding: 2rem;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-p-size);
    line-height: 18px;
  }

  .pencilContainer {
    position: relative;
    width: 5%;
    top: -14vh;
    right: -80vw;
    overflow: none;
  }

  .reviewContainerStyle {
    border: 0.625px solid var(--clr-blue-200);

    /* text */
    color: var(--clr-black);
  }

  .reviewContainerStylePending {
    background: var(--clr-gray-100);
    border: 1px dashed var(--clr-gray-300);

    color: var(--clr-gray-300);
  }

  .ratingsContainer {
    position: relative;
    background: var(--clr-white);
    top: 6vh;
    left: -0.2vw;
  }

  .ratingsContainerColor {
    background: var(--clr-white);
  }

  .pendingRatingsContainerColor {
    background-color: var(--clr-gray-100);
  }

  .pendingRatingElemColor {
    color: var(--clr-gray-300);
  }

  .ratingNum {
    float: none;
    margin-left: 0.2rem;
  }

  .contentContainer {
    position: relative;
    top: -10vh;
    left: -1.1vh;
  }

  .gradeMajorContainer {
    display: none;
  }

  .reviewText {
    position: relative;
    top: 4vh;
  }

  .date {
    position: relative;
    top: 12vh;
    width: 50%;
  }

  button {
    /* position: relative; */
    /* top: 12vh; */
    /* display: flex; */
  }

  .helpful {
    position: relative;
    top: -0.2vh;
  }

  .handClap {
    margin-right: 2px;
    margin-top: 2px;
  }

  .courseTitle {
    color: var(--clr-blue-400);
  }

  .pendingCourseTitle {
    color: var(--clr-gray-300);
  }
}

/* Will Zhang 2024 Updates */

.card {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 16px auto;

  min-height: 250px;
  width: 100%;
  max-width: 1006px;
  padding: 35px 32px;

  border-radius: 10px;
  border: 0.5px solid #b7d8ff;

  background: #fff;
}

.metrics {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;

  /* justify-items: center; */
  justify-content: center;

  & > div {
    display: flex;
    justify-content: space-between;
    place-self: center;
  }
}

.metrictext {
  min-width: 80px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  overflow: hidden;
  font-size: 15px;
}

.bold {
  font-weight: 700;
}

.reviewtext {
  line-height: 1.5em;

  font-size: 15px;
  overflow-y: visible;
}

.seemorebutton {
  color: var(--clr-blue-400);
  font-weight: 700;
  cursor: pointer;
  text-align: left;
}

.expand {
  background-color: white;
}

.collapsedtext {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow: hidden;
  -webkit-line-clamp: 4;
}

.grademajor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.datehelpful {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #9b9b9b;
  font-size: 12px;

  padding-top: 20px;
}

/* Mobile-Only */
@media only screen and (max-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 100%;
  }

  .metrics {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-self: center;
    place-content: center;
    padding: 0;
    padding-bottom: 20px;
  }
}
