/* Will Zhang 2024 Updates */

.card {
  display: flex;
  flex-flow: row nowrap;
  gap: 48px;
  margin: 16px auto;

  min-height: 250px;
  width: 100%;
  max-width: 1006px;
  padding: 36px 32px;

  border-radius: 10px;
  border: 0.5px solid #b7d8ff;

  background: #fff;
}

.metrics {
  display: flex;
  max-width: 120px;
  flex-flow: column nowrap;
  gap: 24px;

  /* justify-items: center; */
  justify-content: center;

  & > div {
    display: flex;
    justify-content: space-between;
    place-self: center;
  }
}

.metrictext {
  min-width: 80px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  overflow: hidden;
  font-size: 15px;
  width: 100%;
}

.bold {
  font-weight: 700;
}

.reviewtext {
  line-height: 1.5em;

  font-size: 15px;
  overflow-y: visible;
}

.seemorebutton {
  color: var(--clr-blue-400);
  font-weight: 700;
  cursor: pointer;
  text-align: left;
}

.expand {
  background-color: white;
}

.collapsedtext {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow: hidden;
  -webkit-line-clamp: 4;
}

.grademajor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 8px;
}

.datehelpful {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #9b9b9b;
  font-size: 12px;

  padding-top: 20px;
  margin-top: auto;
}

.helpful {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  cursor: pointer;
}

.likedhelpful {
  color: var(--clr-blue-400);
  font-weight: 700;
  stroke-width: 4px;
}

.covid {
  background-color: var(--clr-yellow-100);
  border-radius: 10px;
  border-color: transparent;

  place-self: center;

  margin-top: 10px;
  padding: 8px 20px;
  width: 100%;

  font-size: 0.75rem;
  font-weight: 600;
}

/* Mobile-Only */
@media only screen and (max-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
  }

  .metrics {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    flex-flow: row nowrap;
    gap: 4px;
    place-self: center;
    place-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;

    width: 100%;

    max-width: none;

    font-size: 12px;
  }

  .metrictext {
    min-width: fit-content;
    padding-right: 5px;
    font-size: 12px;
    height: 100%;
  }
}
