@import '../../../index.css';

.reviewForm {
  padding: 10px;
}

.reviewHeader {
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #0076ff;
}

.selectProfessorLabel {
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: var(--regular-weight);
}

.ratingInput,
.inputs {
  margin-top: 30px;
}

.reviewComment {
  width: 100%;
  margin-top: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: var(--regular-weight);
}

.reviewText {
  height: 250px;
}

.reviewText:focus {
  outline: none !important;
  border: 3px solid #65acff;
}

.review {
  margin-top: 85px;
}

.errorText {
  color: #ff0000;
  margin-top: 4px;
}

.actionButton {
  background-color: #0076ff;
  color: #ffffff !important;
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 0;
  font-size: 1rem;
}

.formColumn {
  padding-right: 25px;
}

.commentColumn {
  padding-left: 25px;
}

.actionButton:hover {
  background-color: #004ca3;
  color: #ffffff !important;
}

.covidCheckboxLabel {
  margin-top: 4px;
  margin-bottom: 6px;
}

.covidCheckboxLabelText {
  margin-left: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: var(--regular-weight);
}

.tagsContainer {
  margin-top: 2rem;
}

.tagButtonContainer {
  float: right;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2rem;
}

.tagButton {
  background-color: #ececec;
  color: #979797;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: center;
  height: 25px;
  font-size: 12px;
}

.selectedBtn {
  background-color: #0076ff;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: center;
  height: 25px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .reviewForm {
    height: 100%;
    width: 100%;
  }
}
