@import '../../../index.css';

.reviewForm {
  padding: 10px;
}

.reviewHeader {
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: var(--clr-blue-800);
}

.selectProfessorLabel {
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: var(--clr-black);
  font-weight: var(--regular-weight);
}

.ratingInput {
  margin-top: 4px;
}

.reviewComment {
  width: 100%;
  margin-top: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: var(--clr-black);
  font-weight: var(--regular-weight);
}

.reviewText {
  height: 250px;
}

.reviewText:focus {
  outline: none !important;
  border: 3px solid #65acff;
}

.review {
  margin-top: 50px;
}

.errorText {
  color: #ff0000;
  margin-top: 4px;
}

.actionButton {
  background-color: var(--clr-blue-800);
  color: var(--clr-white) !important;
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 0;
  font-size: 1rem;
}

.formColumn {
  padding-right: 25px;
}

.commentColumn {
  padding-left: 25px;
}

.actionButton:hover {
  background-color: var(--clr-blue-900);
  color: var(--clr-white) !important;
}

.covidCheckboxLabel {
  margin-top: 4px;
  margin-bottom: 6px;
}

.covidCheckboxLabelText {
  margin-left: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: var(--clr-black);
  font-weight: var(--regular-weight);
}

@media (max-width: 768px) {
  .reviewForm {
    height: 100%;
    width: 100%;
  }
}
