.similarCoursesSection {
  display: flex;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 10px;
  background: #fff;
}

.similarCoursesContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.similarCoursesHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.similarCoursesTitle {
  color: #000;
  font-family: 'SF Pro';
  font-size: 24px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
  letter-spacing: -0.129px;
}

.bear {
  width: 30px;
  flex-shrink: 0;
}

.similarCoursesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  max-height: calc(3 * 112px + 2 * 16px);
  overflow-y: auto;
}

.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #bfd9f6;
  background: #fff;
  width: calc(100% - 10px);
}

::-webkit-scrollbar-track {
  background: #ffff;
  border-radius: 13.573px;
}

::-webkit-scrollbar-thumb {
  background: #807b7b;
  border-radius: 13.573px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.metrics {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.title {
  font-size: 18px;
  font-family: 'SF Pro', sans-serif;
  font-weight: 590;
  color: #0076ff;
}

.subtitle {
  font-size: 12px;
  font-family: 'SF Pro', sans-serif;
  color: #807b7b;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chip {
  padding: 4px 8px;
  border-radius: 16px;
  background: white;
  border: 1px solid #ccc;
  font-size: 12px;
}

.overall {
  border-color: #0076ff;
}

.higher {
  border-color: #ffa5a5;
}

.lower {
  border-color: #53b228;
}

.similar {
  border-color: #f8cc30;
}
