.container {
  background-color: #b7d8ff;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: center;
  height: 25px;
}
