/* General Result Component Styling */

.top-resultbutton {
  padding-top: 20px;
}

.result-label-course {
  border: 1px solid var(--clr-blue-300);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 4px 14px;
  margin: 0 14px 0 0;
  height: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-weight: var(--regular-weight) !important;
  line-height: normal;
  color: var(--clr-blue-300);
}

.result-label-subject {
  border: 1px solid var(--clr-yellow-300);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px 18px;
  margin: 0 14px 0 0;
  height: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-weight: var(--regular-weight) !important;
  line-height: normal;
  color: var(--clr-yellow-300);
}

.result-label-professor {
  border: 1px solid var(--clr-green-100);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px 9px;
  margin: 0 14px 0 0;
  height: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-weight: var(--regular-weight) !important;
  line-height: normal;
  color: var(--clr-green-100);
}

.result-text {
  display: inline-block;
  text-overflow: ellipsis;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: var(--regular-weight) !important;
  line-height: normal;
  letter-spacing: 0.001em;
  color: var(--clr-black);
  padding-top: 1.5px;
  text-align: left;
  cursor: pointer;
  width: 86%; /* Made to fit in with the course/subject colored label, which is max width 12% */
  display: flex;
  margin: 0;
}

.matching-text {
  text-decoration: underline;
  font-weight: bold;
  color: var(--clr-blue-300);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* Button distinctions for selected/hovered result */

.resultbutton,
.resultbutton:hover {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.62);
  display: flex;
  text-decoration: none;
  overflow-x: hidden;
}

.contrasting-result-background .resultbutton,
.contrasting-result-background .resultbutton:hover {
  background-color: rgba(250, 250, 250, 0.9);
}

.contrasting-result-background .resultbutton:hover,
.contrasting-result-background .active-class {
  background-color: rgba(73, 144, 226, 0.9) !important;
}

.resultbutton:hover,
.active-class {
  background-color: rgba(73, 144, 226, 0.5) !important;
}

.resultbutton:hover .result-text {
  color: var(--clr-white) !important;
}

.active-class .matching-text {
  color: var(--clr-white) !important;
}

.resultbutton:hover .matching-text {
  color: var(--clr-white) !important;
}

.resultbutton:hover .result-label-course {
  color: var(--clr-white) !important;
  border: 1px solid var(--clr-white);
}

.active-class > .result-text {
  color: var(--clr-white) !important;
}

.active-class > .result-label-course {
  color: var(--clr-white) !important;
  border: 1px solid var(--clr-white);
}
