@media screen and (max-width: 992px) {
  .searchbar {
    height: 42px;
  }

  .searchbarInNavbar {
    height: 42px;
  }

  .searchText {
    padding-left: 45px;
  }
}

@media screen and (min-width: 992px) {
  .searchbar {
    height: 40px;
  }

  .searchbarInNavbar {
    height: 52px;
  }

  .searchText {
    padding-left: 40px;
  }
}

.searchbar {
  width: 100%;
  background-color: transparent;
  display: inline-block;
  padding: 0;
  position: relative;
  outline: 0;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.searchbarInNavbar {
  border: 1.24929px solid var(--clr-gray-200);
  box-shadow: none;
}

.searchText {
  font-size: var(--font-medium-size);
  font-weight: var(--regular-weight);
  color: var(--clr-black);
  background-color: var(--clr-white);
  border-color: transparent;
  border-radius: 10px;
  cursor: text;
  text-align: left;
  width: 100%;
  height: 100%;
  background-image: url(/magnifying_glass.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  background-size: 17px;
  outline: 0;
  position: relative;
}

.searchText::placeholder {
  color: var(--clr-gray-300);
  font-weight: var(--regular-weight);
}

.output {
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-color: var(--clr-blue-200);
  border-width: 0 1px 1px 1px;
  cursor: pointer;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.resultText {
  display: inline-block;
  text-overflow: ellipsis;
  font-size: var(--font-medium-size);
  font-weight: var(--regular-weight) !important;
  line-height: normal;
  letter-spacing: 0.001em;
  color: var(--clr-black);
  padding-top: 1.5px;
  text-align: left;
  cursor: pointer;
  width: 86%; /* Made to fit in with the course/subject colored label, which is max width 12% */
  display: flex;
  margin: 0;
}
