name: CI
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install
        run: yarn
      - name: Run Linter
        run: yarn lint
      - name: Build Server
        run: yarn workspace server build
      - name: Build Website Bundle
        # temporarily disable CI flag to let warning not to fail the build
        run: CI=false yarn workspace client build
      - name: Test
        run: yarn workspace server test
        env:
          BOT_TOKEN: "${{ secrets.BOT_TOKEN }}"
